@import url('https://pixelmelt.github.io/Spectra/src/cosmetics.css');

.customStatusSoloEmoji-2bSRlG {
    padding-left: 35%;
}

.activity-1gTu-L {
    padding-top: 10px;
}

.aboutMeTitle-3pjiS7 {
    padding-top: 10px;
}

.bodyTitle-2Az3VQ {
    padding-top: 10px;
}

.banner-1YaD3N:hover .bannerOverlay-1uIerX, .banner-1YaD3N:hover .pencilIcon-z04-c5 {
    opacity: 0;
}

.setIdentityLink-hOFsMl {
    display: none;
}

.body-2wLx-E {
    overflow: visible!important;
}

.customStatus-3XAoF9 {
    padding-top: 10px;
    text-align: center;
    background-color: #303136;
}

.divider-1wtgZ3 {
    display: none;
}

.bodyInnerWrapper-2bQs1k {
    background-color: #20222500;
}

.relationshipButtons-3ByBpj {
    top: -50px;
    right: 20px;
    position: absolute;
}

.profileBannerPremium-KD60EB {
    height: 80px;
    background-color: #00000000!important;
}

.profileBanner-1owKI5 {
    background-color: #00000000!important;
    height: 80px;
}

.avatar-3QF_VA {
    border: 0px solid #00000000;
    background-color: #00000000;
}

.applicationName-19i3lP.clickable-31pE3P:hover, .commandName-1KhvGm.clickable-31pE3P:hover, .username-h_Y3Us.clickable-31pE3P:hover {
    text-decoration: none;
}

.avatarPositionPremium-1zPBq9 {
    top: 20px;
}

.betaBadge-1Ve-yb {
    display: none;
}

.profileBannerPremium-KD60EB {
    background-image: none!important;
    background-color:  #202225;
}

.popoutBannerPremium-3i5EEI {
    background-image: none!important;
    background-color:  #202225!important;
}

.aboutMeSection---MkQa {
    background-color: #00000000;
}

.aboutMeTitle-2i3lnH {
    display: block;
}

.topSection-13QKHs {
    background-color:  #303136;
}

.setIdentityLink-3lcnXW {
    display: none
}

.nickname-2gQ76l {
    font-size: 16px;
}

.profileBadges-2pItdR {
    display: none;
}

/*.userPopout-2j1gM4[style*="--user-background"] .headerTop-3GPUSF {
    background-color: #00000000;
}*/

/*set colors to grey*/
.popoutBanner-3cqRD9 {
    background-color: #202225!important
    
}
.headerTop-3GPUSF {
    background-color: #202225!important
}
.headerNormal-3Zn_yu {
    background-color: #202225;
}
.footer-3naVBw {
    background-color: #303136;
}
.body-2wLx-E {
    background-color: #303136;
}

/*.userPopout-2j1gM4 {
    background-color: #202225;
}
*/
.BDFDB_undefined-ZkCGbz, .nickname-322DbL.size20-2QkeeC, .headerTagNoNickname-3ak9o8.headerTag-nSOkYt.size14-y91Il2.size20-2QkeeC {
    display: block;
}

.userPopout-2j1gM4[style*="--user-background"] .avatarPositionNormal-1CZUPk {
    top: 76px;
}

.avatarWrapperNormal-ahVUaC {
  left: 34%;
}

.headerTop-3GPUSF > .profileBadges-1dm1_q {
  display: none;
}

.userPopout-2j1gM4 {
    width: 250px!important
}

.headerTop-3GPUSF {
    text-align: center;
    padding: 0px 16px 24px;
    border-bottom: 0px
}

.popoutBanner-3cqRD9 {
    height: 113px;
    width: 250px;
}

.size20-9iTTnl {
    font-size: 17px;
}


.userPopout-2j1gM4[style*="--user-background"] .avatarPositionNormal-1CZUPk {
    top: 23px;
}

.avatar-2Vndt_ {
    border: 0px solid;
    background-color: #00000000;
}

/*.userPopout-2j1gM4[style*="--user-background"] .popoutBanner-3cqRD9 {
    background: var(--user-background) center / cover!important;
}*/

/*.root-8LYsGj[style*="--user-background"] .topSection-13QKHs {
    background: var(--user-background) center / cover;
}
*/
/*.userPopout-2j1gM4[style*="--user-background"] .popoutBanner-3cqRD9 {
    background-color:  #0000!important
}

.userPopout-2j1gM4[style*="--user-background"] .headerTop-3GPUSF {
    background-color:  #0000!important
}*/


.userPopout-2j1gM4[style*="--user-background"] .activityUserPopout-2MzGCj {
    background-color:  #303136
}

.avatarHint-k7pYop {
    top: 0px;
    left: 0px;
}

.root-SR8cQa[style*="--user-background"] .topSectionNormal-2-vo2m {
    background: var(--user-background) center / cover;
}

.tabBarContainer-1s1u-z {
    border-top: 0px
}
