/* user backgrounds */


/*Pix#7008*/

.root-SR8cQa [data-user-id="583750578094735360"],
.userPopout-3XzG_A [data-user-id="583750578094735360"] {
	--user-background: url('https://i.imgur.com/cQFrU22.gif');
}

/*Macro#9389*/

.root-SR8cQa [data-user-id="419352542804312066"],
.userPopout-3XzG_A [data-user-id="419352542804312066"] {
	--user-background: url('https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fthumbs.gfycat.com%2FFlakyTeemingFinch-small.gif&f=1&nofb=1');
}



/* user tags */



/* Pix#7008 */

@keyframes pixbadge {
  0%   {content: "</>"; font-family: "Courier New";}
  10%  {content: "<G>";}
  20%  {content: "<Ge>";}
  30%  {content: "<Get>";}
  40%  {content: "<Get_>";}
  50%  {content: "<Get_L>";}
  60%  {content: "<Get_Li>";}
  70%  {content: "<Get_Lin>";}
  80%  {content: "<Get_Linu>";}
  90%  {content: "<Get_Linux>";}
  100% {content: "<Get_Linux>";}
}

.avatar-1BDn8e[src*="583750578094735360"] + h2 > .headerText-3Uvj1Y > .username-1A8OIy::after {
  line-height: 1rem!important;
  content: "</>";
  background-color: #0000;
  color: #ffffff;
}
.avatar-1BDn8e[src*="583750578094735360"] + h2 > .headerText-3Uvj1Y > .username-1A8OIy:hover::after {
  line-height: 1rem!important;
  content: "<Get_Linux>";
  background-color: #0000;
  color: #ffffff;
  animation: pixbadge .5s linear 1;
  transition: content 1s ease;
  font-family: "Courier New", "monospace";
}

/* Macro#9389 */

@keyframes idcbadge {
  0%   {content: "</>"; font-family: "Courier New";}
  10%  {content: "<I>";}
  20%  {content: "<Im>";}
  30%  {content: "<Im_>";}
  40%  {content: "<Im_i>";}
  50%  {content: "<Im_in>";}
  60%  {content: "<Im_in_>";}
  70%  {content: "<Im_in_p>";}
  80%  {content: "<Im_in_pa>";}
  90%  {content: "<Im_in_pai>";}
  100% {content: "<Im_in_pain>";}
}

.avatar-1BDn8e[src*="419352542804312066"] + h2 > .headerText-3Uvj1Y > .username-1A8OIy::after {
  line-height: 1rem!important;
  content: "</>";
  background-color: #0000;
  color: #ffffff;
}
.avatar-1BDn8e[src*="419352542804312066"] + h2 > .headerText-3Uvj1Y > .username-1A8OIy:hover::after {
  line-height: 1rem!important;
  content: "<Im_in_pain>";
  background-color: #0000;
  color: #ffffff;
  animation: idcbadge .5s linear 1;
  transition: content 1s ease;
  font-family: "Courier New", "monospace";
}

/* user tags */
