/* define background location */

/*new update fix*/
.userPopout-3XzG_A[style*="--user-background"] .profileBanner-33-uE1 {
    height: 120px;
    background: var(--user-background) center / cover;
}
.userPopout-3XzG_A[style*="--user-background"] .avatarPositionNormal-1CZUPk {
    top: 76px;
}
/*end fix*/

.userPopout-3XzG_A {
    --user-popout-position: center;
}
.userPopout-3XzG_A .header-2BwW8b {
    -webkit-transform: translateZ(0);
            transform: translateZ(0);
}
.userPopout-3XzG_A .wrapper-3t9DeA::after {
    content: "";
    position: fixed;
    top: 0 !important;
    left: 0 !important;
    width: 100%;
    height: 100%;
    z-index: -1;
    pointer-events: none;
    opacity: 0.5;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: var(--user-popout-position) center;
    background-image: var(--user-background);
}
.root-SR8cQa > div:not(.body-3ND3kc) {
    -webkit-transform: translateZ(0);
            transform: translateZ(0);
}
.root-SR8cQa > div:not(.body-3ND3kc) .header-QKLPzZ .wrapper-3t9DeA::after {
    content: "";
    position: fixed;
    top: 0 !important;
    left: 0 !important;
    width: 100%;
    height: 100%;
    opacity: 0.5;
    z-index: 0 !important;
    pointer-events: none;
    background: var(--user-background) center/cover no-repeat;
}
.root-SR8cQa > div:not(.body-3ND3kc) .header-QKLPzZ .wrapper-3t9DeA svg {
    z-index: 1;
    position: relative;
}
.root-SR8cQa > div:not(.body-3ND3kc) .headerInfo-30uryT, .root-SR8cQa > div:not(.body-3ND3kc) .tabBarItem-1b8RUP, .root-SR8cQa > div:not(.body-3ND3kc) .activity-1ythUs {
    z-index: 1;
    position: relative;
}


/* user backgrounds */


/*Pix#7008*/

.root-SR8cQa [data-user-id="583750578094735360"],
.userPopout-3XzG_A [data-user-id="583750578094735360"] {
	--user-background: url('https://i.imgur.com/cQFrU22.gif');
}

/*Macro#9389*/

.root-SR8cQa [data-user-id="419352542804312066"],
.userPopout-3XzG_A [data-user-id="419352542804312066"] {
	--user-background: url('https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fthumbs.gfycat.com%2FFlakyTeemingFinch-small.gif&f=1&nofb=1');
}



/* user tags */



/* Pix#7008 */

@keyframes pixbadge {
  0%   {content: "</>"; font-family: "Courier New";}
  10%  {content: "<G>";}
  20%  {content: "<Ge>";}
  30%  {content: "<Get>";}
  40%  {content: "<Get_>";}
  50%  {content: "<Get_L>";}
  60%  {content: "<Get_Li>";}
  70%  {content: "<Get_Lin>";}
  80%  {content: "<Get_Linu>";}
  90%  {content: "<Get_Linux>";}
  100% {content: "<Get_Linux>";}
}

.avatar-1BDn8e[src*="583750578094735360"] + h2 > .headerText-3Uvj1Y > .username-1A8OIy::after {
  line-height: 1rem!important;
  content: "</>";
  background-color: #0000;
  color: #ffffff;
}
.avatar-1BDn8e[src*="583750578094735360"] + h2 > .headerText-3Uvj1Y > .username-1A8OIy:hover::after {
  line-height: 1rem!important;
  content: "<Get_Linux>";
  background-color: #0000;
  color: #ffffff;
  animation: pixbadge .5s linear 1;
  transition: content 1s ease;
  font-family: "Courier New", "monospace";
}

/* Macro#9389 */

@keyframes idcbadge {
  0%   {content: "</>"; font-family: "Courier New";}
  10%  {content: "<I>";}
  20%  {content: "<Im>";}
  30%  {content: "<Im_>";}
  40%  {content: "<Im_i>";}
  50%  {content: "<Im_in>";}
  60%  {content: "<Im_in_>";}
  70%  {content: "<Im_in_p>";}
  80%  {content: "<Im_in_pa>";}
  90%  {content: "<Im_in_pai>";}
  100% {content: "<Im_in_pain>";}
}

.avatar-1BDn8e[src*="419352542804312066"] + h2 > .headerText-3Uvj1Y > .username-1A8OIy::after {
  line-height: 1rem!important;
  content: "</>";
  background-color: #0000;
  color: #ffffff;
}
.avatar-1BDn8e[src*="419352542804312066"] + h2 > .headerText-3Uvj1Y > .username-1A8OIy:hover::after {
  line-height: 1rem!important;
  content: "<Im_in_pain>";
  background-color: #0000;
  color: #ffffff;
  animation: idcbadge .5s linear 1;
  transition: content 1s ease;
  font-family: "Courier New", "monospace";
}

/* user tags */
