@import url('https://mr-miner1.github.io/Better-Badges/src/badges.css'); /* animated badges */
@import url('https://spotechyt.github.io/Spectra/src/animcord.css'); /* extra animations */
@import url('https://spotechyt.github.io/Spectra/src/roundite.css'); /* rounded gui */
@import url('https://discord-custom-covers.github.io/usrbg/dist/usrbg.css'); /* user backgrounds */
@import url("https://spotechyt.github.io/Spectra/src/cosmetics.css"); /* user cosmetics */
@import url("https://raw.githack.com/NYRI4/Discolored/master/main.css"); /* colored discord SVGs */
@import url('https://p0rtl6.github.io/BD-AnimatedSpeakingRings/src/base.css'); /* The base speaking rings */
@import url('https://p0rtl6.github.io/BD-AnimatedSpeakingRings/src/voiceconnectedpanel.css'); /* The voice connected panel */
@import url('https://p0rtl6.github.io/BD-AnimatedSpeakingRings/src/bigusers.css'); /* The fullscreen user panels */

:root{
    /*Speaking Rings*/
  --gradient1:  #fdc91e;
  --gradient2:  #fdc91e;
  --gradientangle: 45deg;
  --dmvoicebgcolor: #c39a13;
    
   /*Roundite*/
  --roundness: 15px;

  /* animated badges */
  --badge-size: 22px; /*discord defualt = 18px, theme defualt = 22px;*/
  --badge-margin: 1.5px; /*discord default = 2px, theme defualt = 1.5px*/
  --badges-everywhere-size: 15px; /*default = 15px*/
}

/* hide nitro bs*/
#app-mount > div.app-3xd6d0 > div > div.layers-OrUESM.layers-1YQhyW > div > div.container-1eFtFS > div > div > div.chat-2ZfjoI > div.content-1jQy2l > main > form > div > div > div > div.scrollableContainer-15eg7h.webkit-QgSAqd > div > div.buttons-uaqb-5 > button{
	display: none;
}

.lookFilled-yCfaCM.colorGreen-3y-Z79:hover {
    background-color: #fdd651;
}

.theme-dark .inviteRowName-3H4s_c {
    color: #fdc91e;
}

.theme-dark .inviteRow-3vmB7i:hover {
    background-color: #1c242d;
}

.contents-3ca1mk {
    color: #fdc91e;
}

.cooldownWrapper-2k1jHK {
    color: #fdc91e;
}

.discrimBase-1VOoau {
    color: #ffd23a;
}

.popoutBannerPremium-3i5EEI {
    background-color: #3e4e5f!important;
}
.footer-3naVBw {
    background-color: #2C3B4A!important;
}
.headerTop-3GPUSF {
    background-color: #3e4e5f!important;
}
.customStatus-3XAoF9{
    background-color: #2c3b4a!important;
}


.theme-dark .activeButton-LRWFC_, .theme-dark .activeButton-LRWFC_:hover, .theme-light .activeButton-LRWFC_, .theme-light .activeButton-LRWFC_:hover {
    color: #1f2933;
    background-color: #fdc91e;
}

.closeButton-30b1gR:hover {
    opacity: 50%;
}

.colorInfo-1kEg3T .button-1iHNQ2:hover {
    color: #ffd95b;
}

.theme-dark .button-1iHNQ2:hover, .theme-light .button-1iHNQ2:hover {
    border-color: #1f2933;
    background-color: #1f2933;
}

.button-1iHNQ2 {
    color: #ffd95b;
}

.theme-dark .button-1iHNQ2, .theme-light .button-1iHNQ2 {
    border-color: #ffd95b;
    background-color: transparent;
}

.bg-1QIAus {
    background-color: #232C35;
}

.notice-2HEN-u {
    color: #ffd95b;
}

.noticeWrapper-8z511t {
    background-color: #26303a;
}

.popoutBanner-3cqRD9 {
    background-color: #3E4E5F!important;
}

.popoutBannerPremium-3i5EEI {
    background-color: #3E4E5F;
}

.brand-3g5E0C.item-3XjbnG:hover, .themed-2-lozF.item-3XjbnG:hover {
    color: #efbe1c;
}

.discriminator-1bqsd3 {
    color: #ffd95b;
}

.topSection-13QKHs {
    background-color: #3E4E5F!important;
}

.controlIcon-10O-4h.active-3D763s, .controlIcon-10O-4h:hover {
    color: #293644;
}

.profileBannerPremium-KD60EB {
    background-color:  #3E4E5F!important;
}

.body-2wLx-E {
    background-color: #2C3B4A;
}

.footer-1N3bR3 {
    background-color: #2C3B4A;
}

.newBrand .textBadge-1fdDPJ {
    background-color: #1f2933!important;
}

.aboutMeTitle-2i3lnH {
    display: block;
}

.aboutMeSection---MkQa {
    background-color: #00000000;
}

.theme-dark .lookFilled-yCfaCM.colorPrimary-2AuQVo:active, .theme-dark .lookFilled-yCfaCM.colorPrimary-2AuQVo:hover {
    background-color: #ffd855;
}

.setIdentityLink-OpBDR6 {
    display: none
}

.colorBrand-3cPPsm {
    color: #fdc91e;
}

.tipTitle-3FYEQp {
    color: #fdc91e;
}

.tip-1AwED_ {
    color: #fdc91e;
}

.container-2RRFHK {
    background-color: #1f2933;
}

.clickable-28SzVr:active .layout-1qmrhw {
    background-color: #1f2933;
}

.colorDefault-CDqZdO:active:not(.hideInteraction-2jPGL_) {
    background-color: #181f27;
    color: #fdc91e;
}

.perkDescription-3e1T_w {
    color: #fdc91e;
}

.featuredTag-3pT1Rf {
    background-color: #1f2933;
}

.listDefault-2F-w65 .clickable-1ctZ-H.selected-1oxcpH .username-vAneIW, .usernameSpeaking-3FKv6H {
    color: #ffca16;
}

.button-3_1yil:hover {
    background-color: #2f3d4c;
}

.notice-12Koq- {
    background-color: #1f2933;
}

.iconLive-nQxzyp {
    color: #fdc91e;
}

.container-YkUktl .redIcon-1ppjsM {
    color: #eac342;
}

.headerTop-2cWpdB {
    background-color: #3E4E5F!important;
}

.discrimBase-1QwWzY {
    color: #ffe17f;
}

.theme-dark .rhshpe9-mfhl5sd {
    border-color: #fdc91e;
    color: #fdc91e;
}

.bd-button.bd-button-danger:hover {
    background-color: #1a2129;
}

.bd-button:hover {
    background-color: #b9a440;
}

.brand-3g5E0C.item-3XjbnG:active, .themed-2-lozF.item-3XjbnG:active {
    color: #ffd857;
}

.checkbox-1ycfTw .checkboxInner-1aRh1d .checkboxElement-uwAa9F:checked+span:after {
    border-color: #1f2933;
}

.checkbox-1ycfTw .checkboxInner-1aRh1d .checkboxElement-uwAa9F:checked+span {
    background-color: #fdc91e;
    border-color: #fdc91e;
}

.base-21yXnu {
    color: #fdc91e;
}

.layer-86YKbF.baseLayer-W6S8cY {
    background-color: #26303a;
}

.peopleColumn-1wMU14 {
    background-color: #1b2229;
}

.activityVoiceChannel-2vojOH .details-2-ciHo {
    color: #fdc91e;
}

.container-8Futzw {
    background-color: #1f2933;
}

.button-cfOvv- {
    color: #fdc91e;
}

.theme-dark .path-lhsLSV, .theme-dark .path2-F-M5gP {
    stroke: #fdc91e;
}

.theme-dark .wrapper-1ZcZW- {
    background: #24303c;
    color: #fdd85e;
}

.premiumTabItemLink-3IZzin {
    color: #ffd855!important;
}

.profileBanner-1owKI5 {
    background-color: #3e4e5f!important;
}

.headerTop-2y3V6H {
    background-color: #3e4e5f!important;
}

.title-x4dI75 {
    color: #fdc91e;
}

.activityUserPopout-2MzGCj {
    background-color: #2c3b4a!important;
}

.headerNormal-1l1Znk .headerTag-nSOkYt {
    color: #ffd856;
}

.headerTop-2y3V6H {
    background-color: #2c3b4a;
}

.emojiItemDisabled-3VVnwp {
    filter: grayscale(0%);
}

.pro-3GwLMX .base-21yXnu {
    color: #fdc91e!important;
}

.theme-dark .watchButton-2v6cPT {
    border-color: #fdc91e;
    color: #ffd64c;
}

.theme-dark .activityStreamPreview-uBr6hk .activityName-3YXl6e, .theme-dark .activityStreamPreview-uBr6hk .content-tXPNDw, .theme-dark .activityStreamPreview-uBr6hk .details-2-ciHo, .theme-dark .activityStreamPreview-uBr6hk .name-1-Q7l2, .theme-dark .activityStreamPreview-uBr6hk .nameNormal-2fPMD2 {
    color: #fdc91e;
}

.theme-dark .streamPreview-3qoMP4 {
    background-color: #1f2933;
}

.iconBase-2G48Fc {
    color: #324252!important;
}

.icon-10cLkJ {
    background-color: #2b3a48!important;
}

.contentTitle-3CylD3 strong {
    color: #fdc91e!important;
}

.colorInteractiveActive-30E9n8 {
    color: #fdc91e;
}

.autocomplete-3NRXG8 {
    background-color: #1f2933!important;
}

.theme-dark .keybindShortcut-3zF1P9 span {
    color: #fdc91e;
}

.keybindShortcut-3zF1P9 span {
    background-color: #24303c;
}

.filled-2zYazI {
    background-color: #1e252b;
}

.filled-2zYazI:hover {
    background-color: #ffce29;
}

.warning-RBGtx2 {
    background: #1e252b;
    border: 1px solid #fdc91e6b;
    color: #fdc91e;
}

.warning-RBGtx2 .icon-2fP4ae {
    color: #fdc91e;
}

.css-4h5swf-singleValue {
    color: #ffce29;
}

.css-1ba14n5-option {
    color: #ffc70c;
}

.css-1yz4bi9-option {
    color: #ffc70c;
}

.css-rzbxvl-option {
    color: #ffc70c;
}

.css-3vaxre-menu {
    background-color: #1f2933;
    color: #fdc91e!important;
    border-radius: 0px;
}

.css-17e1tep-control {
    background-color: #1f2933;
    color: #fdc91e!important;
    border-color: #00000000;
}

.css-17e1tep-control::hover {
    border-color: #00000000;
}


.theme-dark .focused-2FU0YH {
    background-color: #182029;
}

.item-2idW98:hover:not([aria-checked=true]) {
    background-color: #1f2933;
}

.item-2idW98[aria-checked=true] {
    background-color: #1f2933;
}

.beta-3smTDE {
    color: #ffc70c;
}

#app-mount .layer-86YKbF[aria-label*=USER_SETTINGS] .previewOverlay-2reuWf {
    background-color: var(--background-secondary);
    border-color: var(--background-tertiary);
}

#app-mount .layer-86YKbF[aria-label*=USER_SETTINGS] .notches-2w7UZJ {
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='20' fill='%1f2933A'%3E%3Cpath fill-rule='evenodd' d='M0 0h8v20H0V0zm4 2a2 2 0 00-2 2v12a2 2 0 104 0V4a2 2 0 00-2-2z'/%3E%3C/svg%3E");
}

.theme-dark .progress-1S-TDF {
    background-color: #1f2933;
}

.checkbox-f1HnKB {
    border-color: #1f2933!important;
    background-color: #e2b725!important;
}

.theme-dark .markDash-yk2kJ- {
    background: #212e42;
}

.theme-dark .markValue-2U_-UG {
    color: #ffce29;
}

.theme-dark .bar-1Bhnl9 {
    background: #212e42;
}

.grabber-2GQyvM {
    background-color: #2e3d4c;
    border: 1px solid #ffffff00;
}

.defaultValue-19SZ-q .markValue-2U_-UG {
    color: #fdc91e;
}

.barFill-2Bh7CX {
    background: #fdc91e;
}

.theme-dark .activeBreadcrumb-2xVic0 {
    color: #ffe281e0;
}

.theme-dark .breadcrumbWrapper-3rpYiO {
    color: #fdc91e87;
}

.subscribeTooltipWrapper-3ipXtC {
    background-color: #1f2933;
}

.base-21yXnu.muted-eZM05q {
    color: #ffc25b;
}

.premiumTabItem-1QTfBr[aria-selected=true] {
    color: #1f2933!important;
    background-color: #fdc91e!important;
}

.lookOutlined-3yKVGo.colorBrand-I6CyqQ {
    color: #ffdc65;
    border-color: #fdc91e;
}

.container-2nx-BQ {
    background-color: #2e3d4e!important
}

.container-2nx-BQ:not([style*="background-color: rgb(114, 118, 125);"]) { /*Checked buttons color*/
    background-color: #e2b725!important;
}
.container-2nx-BQ:not([style*="background-color: rgb(114, 118, 125);"]) svg svg path { /*Changes the checkmark color*/
    fill: #e2b725!important;
}

.item-2idW98[aria-checked=true] {
    color: #ffcf2f;
}

.radioIconForeground-2BMavi {
    color: #fdc91e;
}

.theme-dark .lookFilled-yCfaCM.colorGrey-2iAG-B:hover {
    background-color: #141b21;
}

.theme-dark .subText-1gefwV, .theme-light .subText-1gefwV {
    color: #fdc91e;
}

.theme-dark .emptyStateSubtext-1nMe5m {
    color: #fdc91e;
}

.theme-dark .keybind-13vtq8 {
    color: #fdc91e;
}

.theme-dark .closeButton-PCZcma {
    border-color: #fdc91e;
}

.theme-dark .emptyStateHeader-2qdbzr {
    color: #fdc91e;
}

.card-16VQ8C a {
    color: #ffd500;
}

.colorPremium-vwmYZQ .icon-E4cW1l {
    color: #ffc400;
}

.icon-Zc-uZZ {
    display: none;
}

.flowerStarContainer-1QeD-L {
    display: none;
}

.expandedFolderIconWrapper-Huv7rA svg {
  color: #fdc91e!important;
}

.jumpToPresentBar-1cEnH0 {
    background-color: #181d23;
}

/* hide gift button */
[aria-label="Send a gift"] {
    display: none !important;
}

.theme-dark .friend-8ZraY7 {
    color: #ffca18!important;
}

.theme-dark .checkbox-f1HnKB {
    border-color: #fdc91e;
}

.theme-dark .friendSelected-3cwmD7 {
    background-color: #1a2129;
    color: #fdc91e;
}

.secondary-2bzKEX {
    color: var(--header-secondary);
}

.theme-dark .header-145e10 .tabBar-1qdMr5 .tab-TRrPC8.active-1grPyy {
    background-color: var(--background-accent);
}

.description-22d6ux {
    color: #d0b869;
}

.emptyChannelIcon-1YdEz2 {
    background-color: #1f2933;
}

.modeMuted-2T4MDZ .icon-2W8DHg, .modeMuted-2T4MDZ .name-28HaxV {
    color: #796d0f;
}

.uploadModalIn-2w48Zf .uploadDropModal-13Kd20 .bgScale-1iWuPF {
    background: #1f2933;
    color: #1f2933;
}

.active-z80xEj .buttonWrapper-3YFQGJ, .buttonWrapper-3YFQGJ:hover {
    color: #3e5165;
}

.sprite-2lxwfc {
    filter: grayscale(0%)!important;
}

.guilds-2JjMmN .homeIcon-r0w4ny {
    position: absolute;
    margin-left: 2px;
    width: 45px;
    height: 45px;
}

.guilds-2JjMmN .homeIcon-r0w4ny path {
    d: path("M11.848.047C11.792.072 11.672.163 11.581.248L11.416.403 11.416 3.043 11.416 5.683 11.594 5.871C11.834 6.123 11.871 6.141 12.16 6.141 12.45 6.141 12.49 6.122 12.727 5.868L12.904 5.678 12.904 3.04 12.904.403 12.739.248C12.47-.003 12.128-.08 11.848.047M3.832 3.369C3.414 3.518 3.189 4.055 3.417 4.358 3.866 4.954 6.747 7.849 7.085 8.043 7.621 8.351 8.345 7.711 8.106 7.139 7.976 6.827 5.2 4.006 4.469 3.442 4.305 3.315 4.062 3.288 3.832 3.369M19.915 3.389C19.731 3.485 19.492 3.709 18.338 4.863 17.113 6.088 16.616 6.607 16.339 6.95L16.193 7.131 16.193 7.356C16.193 7.871 16.67 8.244 17.134 8.091 17.449 7.987 20.713 4.721 20.937 4.286 21.098 3.973 20.901 3.509 20.554 3.386 20.42 3.338 20.009 3.34 19.915 3.389M11.424 6.875C10.256 6.998 8.989 7.693 8.146 8.673 6.844 10.187 6.491 12.296 7.232 14.134 7.281 14.255 7.321 14.357 7.321 14.361 7.321 14.365 6.704 14.369 5.95 14.369 2.807 14.37 1.3 14.444.898 14.617.697 14.704.67 14.753.67 15.032.67 15.702.508 15.693 13.19 15.677 18.972 15.67 21.592 15.658 21.913 15.638 23.503 15.54 23.675 15.48 23.675 15.021L23.675 14.784 23.589 14.704C23.328 14.457 21.97 14.37 18.356 14.369L16.996 14.369 17.013 14.313C17.023 14.282 17.046 14.226 17.066 14.187 17.649 13.041 17.61 11.204 16.973 9.882 15.951 7.758 13.85 6.619 11.424 6.875M12.904 8.425C15.491 9.008 16.788 11.999 15.374 14.122L15.21 14.369 12.153 14.363 9.097 14.356 9.004 14.216C7.508 11.956 8.845 8.904 11.552 8.402 11.822 8.351 12.64 8.366 12.904 8.425M1.514 11.392C.409 11.413.394 11.415.212 11.598-.002 11.811-.06 12.122.052 12.454.193 12.871.26 12.879 3.552 12.879L5.727 12.88 5.874 12.737C6.253 12.368 6.247 11.714 5.862 11.518 5.585 11.376 4.307 11.339 1.514 11.392M18.816 11.417C18.148 11.484 17.941 12.176 18.43 12.704L18.592 12.88 20.47 12.879C22.402 12.879 23.784 12.849 23.95 12.805 24.394 12.685 24.445 11.94 24.036 11.54L23.896 11.403 21.459 11.4C20.119 11.398 18.929 11.405 18.816 11.417") !important;
}

.reaction-2A2y9y.reactionMe-3I9gFK {
    background-color: #1f2933;
    border-color: #fdc91e;
}

.lookFilled-yCfaCM.colorBrand-I6CyqQ:disabled {
    background-color: #263340;
}

.theme-dark .outer-2JOHae.active-1W_Gl9, .theme-dark .outer-2JOHae.interactive-2zD88a:hover {
    background-color: #182129;
}

.theme-dark .inset-SbsSFp {
    background-color: #283644;
}

.outer-2JOHae {
    background-color: #1f2933;
}

.lookLink-15mFoz.colorBrand-I6CyqQ {
    color: #e2af5a;
}

.theme-dark.authBox-1HR6Ha {
    color: #fdc91e;
    background: #1f2933;
}

.message-2CShn3.ephemeral-2nDdnn.selected-2LX7Jy, .message-2CShn3.replying-eZ7p5z.selected-2LX7Jy, .mouse-mode.full-motion .ephemeral-2nDdnn:hover, .mouse-mode.full-motion .replying-eZ7p5z:hover {
    background-color: #fdc91e14;
}

.replying-eZ7p5z {
    background-color: #fdc91e14;
}

.replying-eZ7p5z:before {
    background-color: #fdc91e;
}

.backdrop-2ByYRN {
    background: #202225!important;
}

.downloadLink-1OAglv {
    color: #fdc91e!important;
}

.tierMarkerInProgress-2Tdxjz {
    background: #1f2933!important;
}

.headerStreaming-2FjmGz {
    background: #1f2933;
}

.headerXbox-3G-4PF {
    background: #1f2933;
}

.theme-dark .tierLock-3CSxSX {
    color: #fdc91e70;
}

.theme-dark .tierHeaderLocked-1s2JJz {
    background-color: #181f27;
    color: #fdc91e70;
}

.theme-dark .tierBody-16Chc9 {
    background-color: #1f2933;
}

.theme-dark .barBackground-unEPDT {
    background-color: #384858;
}

.theme-dark .perksModal-fSYqOq {
    background-color: #1f2933;
}

.theme-dark .headerLogo--hLLAk {
    color: #fdc91e;
}

.tabBarItem-1b8RUP .item-3XjbnG .themed-2-lozF {
    border-color: #fdc91e;
    color: #fdc91e;
}

.top-K_jibn .selected-g-kMVV.themed-2-lozF.item-3XjbnG, .top-K_jibn .themed-2-lozF.item-3XjbnG:active {
    border-bottom-color: #fdc91e;
}

.discriminator-xUhQkU {
    color: #f1cd55;
}

.additionalActionsIcon-1FoUlE {
    color: #fdc91e;
}

.colorDefault-CDqZdO.focused-3qFvc8 {
    background-color: #283644;
    color: #ffcb1e;
}

.lookInverted-2mDUMi.colorBrand-I6CyqQ:hover {
    background-color: #fbd03f;
}

.botTagInvert-1nKcq_ {
    background: #ffd64e;
    color: #1f2933;
}

.theme-dark .calendarPicker-sDhzdi .react-datepicker__day.react-datepicker__day--selected:hover, .theme-dark .calendarPicker-sDhzdi .react-datepicker__day:hover {
    color: #1f2933;
    background-color: #fdc91e;
}

.theme-dark .calendarPicker-sDhzdi .react-datepicker__day.react-datepicker__day--selected:after {
    background-color: #fdc91e;
}

.theme-dark .calendarPicker-sDhzdi .react-datepicker__navigation.react-datepicker__navigation--next, .theme-dark .calendarPicker-sDhzdi .react-datepicker__navigation.react-datepicker__navigation--previous {
    border-color: #fdc91e;
}

.theme-dark .datePicker-70cO23 .datePickerHint-17MnA8 .hintValue-1x-flY:hover {
    background-color: #fdc91e;
}

.theme-dark .calendarPicker-sDhzdi .react-datepicker__day.react-datepicker__day--disabled, .theme-dark .calendarPicker-sDhzdi .react-datepicker__day.react-datepicker__day--disabled:hover {
    background-color: #323f4c;
    color: #fdc91e;
}

.theme-dark .calendarPicker-sDhzdi .react-datepicker__day--disabled, .theme-dark .calendarPicker-sDhzdi .react-datepicker__day--outside-month {
    background-color: #323f4c;
    color: #fdc91e;
}

.theme-dark .calendarPicker-sDhzdi .react-datepicker__day-name {
    color: #fdc91e;
}

.theme-dark .calendarPicker-sDhzdi .react-datepicker__header {
    background-color: #1f2933;
}

.theme-dark .datePicker-70cO23 .datePickerHint-17MnA8 .hintValue-1x-flY {
    color: #1f2933;
    background-color: #fdc91e;
}

.theme-dark .calendarPicker-sDhzdi .react-datepicker__current-month {
    border-bottom-color: #fdc91e2e;
    color: #fdc91e;
}

.theme-dark .calendarPicker-sDhzdi .react-datepicker {
    background-color: #1f2933;
}

.theme-dark .option-2KkUJO.user-23VtPS .displayUsername-14aOpK {
    color: #ffdb63;
}

.theme-dark .option-2KkUJO.user-23VtPS .displayedNick-2dDbfG {
    color: #fdc91e;
}

.applicationName-19i3lP.clickable-31pE3P:hover, .commandName-1KhvGm.clickable-31pE3P:hover, .username-h_Y3Us.clickable-31pE3P:hover {
    text-decoration: none;
}

.mediaBarInteraction-tUE5dq:hover .mediaBarGrabber-FvJKJg {
    background-color: #f9cf42;
}

.buffer-3eVqKK, .buffer-3eVqKK:after, .buffer-3eVqKK:before {
    background-color: #1f2933;
}

.metadataIcon-3QMhu9 {
    color: #ffd033;
}

.wrapper-1FP9YQ {
    color: #fdc91e;
}

.audioControls-3fmemK, .videoControls-2NzHnF {
    background-color: #1f2933ba;
}

.metadata-3IncIG {
    background-image: -webkit-gradient(linear,left bottom,left top,from(transparent),to(#1f2933ba));
}

.mediaBarGrabber-FvJKJg, .mediaBarProgress-38I317, .mediaBarProgress-38I317:after, .mediaBarProgress-38I317:before {
    background-color: #fdc91e;
}

.modeSelected-3DmyhH .icon-2W8DHg, .modeSelected-3DmyhH:hover .icon-2W8DHg, .modeUnread-3Cxepe .icon-2W8DHg, .modeUnread-3Cxepe:hover .icon-2W8DHg {
    color: #3e5165;
}

.input-2g-os5.focused-1AtTHC, .input-2g-os5:focus {
    border-color: #fdc91e;
}

.theme-dark .m6g7rkj-k7ii0p4 {
    border-color: #fdc91e;
    color: #fdc91e;
}

.guildNick-3uAm3i {
    color: #fdc91e;
}

.activityHeader-1PExlk {
    color: #fdc91e;
}

.topSectionSpotify-1lI0-P {
    background: #1f2933;
}


.colorDanger-3n-KnP, .colorDanger-3n-KnP .checkbox-hADx5o, .colorDanger-3n-KnP .radioSelection-1UHp0b {
    color: #ffc914;
}

.topSectionNormal-2-vo2m .activityHeader-1PExlk, .topSectionNormal-2-vo2m .customStatusText-39gdCI {
    color: #fdc91e;
}

.theme-dark .option-2KkUJO .filter-5YbOzJ {
    color: #fdc91e;
}

.searchAnswer-23w-CH, .searchFilter-2UfsDk {
    color: #fdc91e;
}

.theme-dark .option-2KkUJO .answer-2fBfuP, .theme-dark .option-2KkUJO .nonText-3_4gtu, .theme-dark .option-2KkUJO strong {
    color: #fdd242;
}

.theme-dark .option-2KkUJO.selected-rZcOL-:after {
    background: linear-gradient(90deg,rgba(35,38,42,0),#1a232b 50%);
}

.theme-dark .option-2KkUJO.selected-rZcOL- {
    background-color: #1a232b;
}

.theme-dark .option-2KkUJO:after {
    background: linear-gradient(90deg,rgba(54,57,63,0),#1f2933 80%);
}

.theme-dark .container-2McqkF {
    background-color: #1f2933;
}

.theme-dark .searchOption-351dTI .filter-5YbOzJ {
    color: #f3c838;
}

.theme-dark .searchOption-351dTI .answer-2fBfuP {
    color: #f1d063;
}

.theme-dark .resultsGroup-1BPR25 .header-3A13BX, .theme-dark .resultsGroup-1BPR25 .plusIcon-2V7coV, .theme-dark .resultsGroup-1BPR25 .searchClearHistory-2Be-92, .theme-dark .resultsGroup-1BPR25 .searchLearnMore-7__o_n a {
    color: #fdc91e;
}

.textArea-2CLwUE {
    background-color: #1F2933;
}

.headerSpotify-zpWxgT {
    background: #1f2933;
}

.theme-dark .headerNormal-T_seeN {
    background-color: #1f2933;
}

.headerPlaying-j0WQBV {
    background: #1f2933;
}

.theme-dark .message-G6O-Wv {
    background-color: #1f2933;
}

.colorDefault-CDqZdO .checkbox-hADx5o, .colorDefault-CDqZdO .radioSelection-1UHp0b {
    color: #faa61a;
}

.menu-1QACrS {
    background: #1b232b;
}

.required---V9PF {
    color: #fdc91e;
}

.iconBadge-3Mmg92 {
    background-color: #fdc91e;
}

.status-1ZXjSF {
    color: #fdc91e;
}

.status-1ZXjSF {
    background-color: #354758;
}

.wrapper-1gVUIN.minimum-fXpVNc {
    background-color: #212a33;
}

.tab-2j5AEF.selected-2LAck8 {
    color: #202225;
}

.theme-dark .tab-2j5AEF.selected-2LAck8 {
    background-color: #fdc91e;
}

.lookFilled-yCfaCM.colorRed-rQXKgM:hover {
    color: #2a3744;
    background-color: #fdd651;
}

.theme-dark .lookLink-15mFoz.colorPrimary-2AuQVo {
    color: #fdc91e;
}

.lookFilled-yCfaCM.colorRed-rQXKgM {
    background-color: #2a3744;
    color: #fdd651;
}

 .questionMark-3V9mGJ {
    background-color: #1f2933;
}

.topic-11NuQZ {
    color: #fdd651;
}

.strikethrough-3Wiitd {
    color: #6685a5;
}

.toolbar-3_r2xA .anchor-1MIwyf {
  display: none;
}

.discriminator-WV5K5s {
    color: #f1cd55;
}

.topSectionNormal-2-vo2m .discriminator-xUhQkU {
    color: #f1cd55;
}

.link-290TKp {
    color: #fdc91e;
}

.colorable-3rVGna.primaryDark-2UJt1G.active-3D763s, .colorable-3rVGna.primaryDark-2UJt1G:hover {
    background: #2a3744;
}

.colorable-3rVGna.white-11auuQ.active-3D763s, .colorable-3rVGna.white-11auuQ:hover {
    background: #2a3744;
}

.colorable-3rVGna.red-3T8maV.active-3D763s, .colorable-3rVGna.red-3T8maV:hover {
    background: #2a3744;
}

.colorable-3rVGna.primaryDark-2UJt1G, .colorable-3rVGna.primaryDark-2UJt1G .centerIcon-JYpTUi {
    color: #fdc91e;
}

.colorable-3rVGna.primaryDark-2UJt1G {
    background: #354758;
}

.slash-2yrR11 {
    color: #6685a5;
}

.colorable-3rVGna.white-11auuQ {
    background: #354758;
}

.colorable-3rVGna.white-11auuQ, .colorable-3rVGna.white-11auuQ .centerIcon-JYpTUi {
    color: #fdc91e;
}

.colorable-3rVGna.red-3T8maV {
    background: #354758;
}

.colorable-3rVGna.red-3T8maV, .colorable-3rVGna.red-3T8maV .centerIcon-JYpTUi {
    color: #fdc91e;
}

.button-3Vyz67 {
    background-color: #293644;
    color: #f7d35c;
}

.header-1BxQhu {
    color: #fdc91e;
}

.tile-2TcwiO {
    background-color: #1F2933;
}

.lookFilled-yCfaCM.colorBrand-I6CyqQ:hover {
    background-color: #fdd651;
    color: #1F2933;
}

.lookFilled-yCfaCM.colorGreen-3y-Z79:hover {
    background-color: #fdd651;
}

.lookOutlined-3yKVGo.colorGreen-3y-Z79 {
    color: #fdd651;
    border-color: #fdd651;
}

.button-1EGGcP.buttonColor-3bP3fX.buttonActive-Uc1jHx:hover, .button-1EGGcP .buttonColor-3bP3fX.buttonActive-Uc1jHx:hover {
    background-color: #fdd651;
}

.controlIcon-10O-4h {
    color: #fdd651;
}

.theme-dark .container-1ILvLB .header-2C89wJ {
    background-color: #1F2933;
}

.theme-dark .container-1ILvLB section {
    background-color: #1F2933;
}

.strikethrough-2Kl6HF {
    color: #6685a5;
}

.sampleLink-5BWNy9 {
    color: #fdd651;
}

.input-2g-os5 {
    color: #fdd651;
    background-color: #1f272f;
}

.repliedMessage-3Z6XBG {
    color: #fdd651;
}

.theme-dark .footer-VCsJQY {
    background-color: #263340;
}

.theme-dark .uploadModal-2ie9O_ {
    background-color: #1F2933;
}

.selectorButton-3sW6Qm:not(.selectorButtonPremiumRequired-2pGGEj):hover {
    background-color: #deb01a;
}

.selectorButtonSelected-3Z0WNU {
    background-color: #635b42;
}

.theme-dark .root-g14mjS {
    background-color: #1F2933;
}

.theme-dark .spoilerText-27bIiA.hidden-3B-Rum {
    background-color: #b18b4c;
}

.unread-36eUEm {
    background-color: #fdc91e;
}

.unread-2wipsx {
    background-color: #283644;
    opacity: .9;
}

.theme-dark .searchAnswer-23w-CH, .theme-dark .searchFilter-2UfsDk {
    background-color: #283644;
}

.theme-light .lookFilled-yCfaCM.colorGrey-2iAG-B:hover {
    background-color: #b18b4c;
}

.theme-light .lookFilled-yCfaCM.colorGrey-2iAG-B {
    color: #f1e1ad;
    background-color: #283644;
}

.botTagRegular-kpctgU {
    background: #fdd651;
    color: #212d38;
}

.button-1EGGcP.buttonColor-3bP3fX.buttonActive-Uc1jHx, .button-1EGGcP .buttonColor-3bP3fX.buttonActive-Uc1jHx {
    background-color: #212d38;
    color: #fdd651;
}

.live-1V2D-f {
	color: #fdc91e;
}

.avatarSpeaking-2pCGrZ {
    -webkit-box-shadow: inset 0 0 0 2px #fdc91e,inset 0 0 0 3px var(--background-secondary);
    box-shadow: inset 0 0 0 2px #fdc91e,inset 0 0 0 3px var(--background-secondary);
}

.avatarSpeaking-33RRJU {
    -webkit-box-shadow: inset 0 0 0 2px #fdc91e,inset 0 0 0 3px var(--background-secondary);
    box-shadow: inset 0 0 0 2px #fdc91e,inset 0 0 0 3px var(--background-secondary);
    border-radius: 50%;
}

.subtext-2HDqJ7 {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    color: #E7C553;
    line-height: 13px;
}

.circleIconButton-1QV--U {
    color: #a98e38;
    background-color: #1F2933;
}

.circleIconButton-1QV--U.selected-1JjBPm {
    color: #36393f;
    background-color: #fdc91e;
}

.numberBadge-37OJ3S {
    color: #36393f;
    background-color: #c7ad59!important;
}

.wrapper-3kah-n.selected-1Drb7Z .childWrapper-1j_1ub, .wrapper-3kah-n:hover .childWrapper-1j_1ub {
    color: #efbe1c;
    background-color: #212d38;
}

.childWrapper-1j_1ub:hover {
    color: #efbe1c;
    background-color: #212D38;
}

.selected-g-kMVV.item-3XjbnG, .selected-g-kMVV.item-3XjbnG:hover {
    cursor: default;
    color: #efbe1c;
}

.top-K_jibn .selected-g-kMVV.themed-2-lozF.item-3XjbnG .top-K_jibn .themed-2-lozF.item-3XjbnG:active {
    border-bottom-color: #fdc91e;
}

.mention-3XBnnZ {
    background-color: #efbe1c;
}

.mention-3XBnnZ:active {
    background-color: #263340;
}

.lookBlank-21BCro {
    background: transparent;
    color: #eac342;
}

.theme-light .root-g14mjS {
    background: #1F2933;
}

.theme-dark .footer-31IekZ {
    background-color: #24303c;
    box-shadow: inset 0 1px 0 #202225;
}

.theme-dark .lookFilled-yCfaCM.colorGrey-2iAG-B {
    color: #f1e1ad;
    background-color: #283644;
}

.theme-light {
 	--background-modifier-accent: rgb(199, 171, 12);
}

.newMessagesBar-1hF-9G {
    top: 0;
    border-radius: 0 0 8px 8px;
    background-color: #283644;
    -webkit-box-shadow: var(--elevation-low);
    box-shadow: var(--elevation-low);
}

.barButtonBase-Sk2mdB {
    text-align: left;
    background: none;
    color: #f1e1ad;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    font-weight: 500;
    padding: 0 12px;
    font-size: 14px;
    line-height: 24px;
    height: 24px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
}

.search-25t1e9 .searchBox-31Zv9h:focus, .search-25t1e9 .searchBox-31Zv9h:focus-within {
    -webkit-box-shadow: 0 0 0 1px #5b43f0, 0 0 0 2px #bdb3f9, 0 0 0 3px #bdb3f9;
    box-shadow: 0 0 0 1px #5b43f0, 0 0 0 2px #bdb3f9, 0 0 0 3px #bdb3f9;
    border-color: #202225;
}

.search-25t1e9 .searchBox-31Zv9h {
    z-index: 2;
    border-radius: 8px;
    background-color: #f1e1ad;
    padding-right: 8px;
}

.searchBox-pyIJJj .searchBoxInput-P0mWHW {
    border: none;
    font-size: 18px;
    font-weight: 500;
    padding: 12px;
    background: #f1e1ad;
    height: auto;
}

.search-25t1e9 .searchBox-31Zv9h .searchBoxInput-3h4etz {
    font-size: 16px;
    padding: 8px;
    color: #1f2933;
}

.categoryItem-1QIroW.selectedCategoryItem-FHKU_o .itemInner-gPkiWb {
    background-color: #eac444;
}

.categoryItem-1QIroW {
    color: #eac444;
    margin-left: 8px;
}



.lookInverted-2mDUMi.colorGreen-3y-Z79 {
    color: #1f2933;
    background-color: #fdc91e;
}

.lookFilled-yCfaCM.colorGreen-3y-Z79 {
	color: #1f2933;
    background-color: #fdc91e;
}

.lookInverted-2mDUMi.colorBrand-I6CyqQ {
    color: #1f2933;
    background-color: #fdc91e;
}

.topSectionPlaying-1J5E4n {
    background: #1f2933;
}

.topSectionXbox-3fWLjS {
    background: #1f2933;
}

.membershipDialogHouse2-2W27iJ {
    background-color: #1f2933;
}

.membershipDialog-2wAdpQ:after {
    position: absolute;
    top: 0;
    left: 0;
    /* background-image: url(/assets/c48ff25….svg); */
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
    content: "";
    opacity: .15;
    width: 100%;
    height: 100%;
    z-index: 0;
}

.bd-addon-views .bd-view-button.selected {
    background-color: #fdc91e;
}

.theme-dark .lookFilled-yCfaCM.colorPrimary-2AuQVo {
    color: #1b2229;
    background-color: #fdc91e;
}

.clickable-28SzVr.container-1oeRFJ:active, .highlighted-3PcOfB.container-1oeRFJ, .selected-1-Z6gm.container-1oeRFJ {
    color: #3e5165;
}

.modeConnected-NrO4cP .name-28HaxV, .modeConnected-NrO4cP:hover .name-28HaxV, .modeSelected-3DmyhH .name-28HaxV, .modeSelected-3DmyhH:hover .name-28HaxV, .modeUnread-3Cxepe .name-28HaxV, .modeUnread-3Cxepe:hover .name-28HaxV, .notInteractive-2tFrlE.modeConnected-NrO4cP .name-28HaxV, .notInteractive-2tFrlE.modeSelected-3DmyhH .name-28HaxV {
    color: #3e5165;
}

.bd-button.bd-button-danger {
    background-color: #25303c;
}

.bd-addon-views .bd-view-button.selected svg {
    fill: #1b2229;
}

.bd-switch input:checked+.bd-switch-body {
    --switch-color: #e2b725;
}

.bd-switch-body {
    --switch-color: #181f27;
}

.bd-switch-body::after {
    background-color: #1f2933;;
}

.bd-button {
    background-color: #d0b848;
    color: #5d4a0d;
    transition: background-color .17s ease,color .17s ease,opacity 250ms ease;
}

.item-2LIpTv {
    background-color: #ffc400;
}

.cardPrimary-3qRT__ {
	background-color: #1f2933;
}

.theme-dark .codeRedemptionRedirect-3SBiCp {
	background-color: #1f2933;
	color: #fdc91e;
}


.selected-29KTGM .icon-2xnN2Y {
    color: #fdc91e;
}

.headerNormal-T_seeN .customStatus-1bh2V9 {
    color: #efbe1c;
}

.customStatus-1bh2V9 {
    color: #efbe1c;
}

.barInner-3dHef4 {
	background-color: #efbe1c;
}

.lookOutlined-3yKVGo.colorWhite-1H92hK {
    color: #efbe1c;
    border-color: #f1cd55;
}

.theme-dark .activityProfile-1712BN .content-tXPNDw, .theme-dark .activityProfile-1712BN .details-2-ciHo, .theme-dark .activityProfile-1712BN .headerText-3g1XK9, .theme-dark .activityProfile-1712BN .name-1-Q7l2, .theme-dark .activityUserPopout-2MzGCj .content-tXPNDw, .theme-dark .activityUserPopout-2MzGCj .details-2-ciHo, .theme-dark .activityUserPopout-2MzGCj .headerText-3g1XK9, .theme-dark .activityUserPopout-2MzGCj .name-1-Q7l2, .theme-light .activityProfile-1712BN .content-tXPNDw, .theme-light .activityProfile-1712BN .details-2-ciHo, .theme-light .activityProfile-1712BN .headerText-3g1XK9, .theme-light .activityProfile-1712BN .name-1-Q7l2, .theme-light .activityUserPopout-2MzGCj .content-tXPNDw, .theme-light .activityUserPopout-2MzGCj .details-2-ciHo, .theme-light .activityUserPopout-2MzGCj .headerText-3g1XK9, .theme-light .activityUserPopout-2MzGCj .name-1-Q7l2 {
    color: #efbe1c;
}

.activityName-3YXl6e, .nameNormal-2fPMD2, .nameWrap-3TyM52 {
    color: #efbe1c;
}

.headerTag-2pZJzA {
	color: #f1cd55;
}

.headerName-fajvi9 {
	color: #fdc91e;
}

.colorHeaderPrimary-jN_yGr {
	color: #f1d98c;
}

.colorStandard-21JIj7 {
	color: #f1cd55;
}

.container-x8Y1ix {
	background-color: #1f2933;
}

.theme-dark .pageWrapper-2PwDoS {
	background-color: #232c35;
}

.content-2hZxGK {
	background-color: #1f2933;
}

.theme-dark .footer-31IekZ {
	background-color: #1f2933;
}

.theme-dark .footer-1hTRRZ {
	background-color: #1f2933;
}

.scroller-3nFW5p {
	background-color: #1f2933;
}


.protip-YaFfgO {
	color: #fdc91e;
}

.bodyTitle-Y0qMQz {
	color: #fdc91e;
}

.headerNormal-T_seeN .headerTag-2pZJzA {
	color: #f1cd55;
}

.roleColor-nA7BqX {
	color: #fdc91e;
}

.username-3JLfHz {
	color: #fdc91e;
}

.theme-dark .body-3iLsc4, .theme-dark .footer-1fjuF6 {
	background-color: #2c3b4a;
}

.theme-dark .body-3iLsc4 {
	background-color: #2c3b4a;
}

.bodyInnerWrapper-Z8WDxe {
	background-color: #2c3b4a;
}

.activityUserPopout-2MzGCj {
	background-color: #2c3b4a;
}

.text-MPIeXO {
	color: #fdd651;
}

.icon-2xnN2Y {
	color: #fdd651;
}

.body-3iLsc4 {
	background-color: #1F2933;
}

.addInputWrapper-1BOZ3d {
	background-color: #1b2229;
}

.friendsEmpty-gs15T1 {
	background-color: #1b2229;
}

.peopleListItem-u6dGxF {
	background-color: #1b2229;
}

.peopleList-2VBrVI {
	background-color: #1b2229;
}

.colorHeaderSecondary-g5teka {
	color: #f1cd55;
}

.closedFolderIconWrapper-2sTcE6 {
	background-color: #212d38;
}

.lookFilled-yCfaCM.colorBrand-I6CyqQ {
	background-color: #212d38;
	color: #FDD651;
}

.h5-2RwDNl {
	color: #fdc91e;
}

.theme-dark {
    --header-primary: #fdc91e;
    --text-normal: #efbe1c;
    --background-primary: #1b2229;
    --background-secondary: #171D23;
    --background-tertiary: #13181d;
    --text-muted: #c39a13;
    --interactive-hover: #3e5165;
    --channels-default: #FDD651;
    --text-link: #ffd500;
    --channeltextarea-background: #1f2933;
    --background-secondary-alt: #1f2933;
    --interactive-normal: #fdc91e;
    --scrollbar-auto-track: #2a333c;
    --scrollbar-auto-thumb: #384963;
    --background-floating: #1f2933;
    --background-modifier-selected: #1f2933;
    --background-modifier-hover: #1b232b;
    --interactive-active: #fdc91e;
}