@import url('https://pixelmelt.github.io/Spectra/src/oldpop.css'); /* old user popouts */
@import url('https://pixelmelt.github.io/Spectra/src/roundite.css'); /* rounded gui */
@import url('https://discord-custom-covers.github.io/usrbg/dist/usrbg.css'); /* user backgrounds */
@import url("https://pixelmelt.github.io/Spectra/src/cosmetics.css"); /* user cosmetics */
@import url("https://raw.githack.com/NYRI4/Discolored/master/main.css"); /* colored discord SVGs */
@import url('https://p0rtl6.github.io/BD-AnimatedSpeakingRings/src/base.css'); /* The base speaking rings */
@import url('https://p0rtl6.github.io/BD-AnimatedSpeakingRings/src/voiceconnectedpanel.css'); /* The voice connected panel */
@import url('https://p0rtl6.github.io/BD-AnimatedSpeakingRings/src/bigusers.css'); /* The fullscreen user panels */

:root {
	--gradient1:  var(--SecondaryText);
	--gradient2:  var(--PrimaryAccent);
	--gradientangle: 45deg;
	--dmvoicebgcolor: var(--SecondaryAccent);
	--roundness: 15px;
	--PrimaryText: #ffd855;
	--SecondaryText: #ffe89b;
	--ActiveText: #324252;
	--PrimaryAccent: #ffd500;
	--SecondaryAccent: #d0b848;
	--TertiaryAccent: #5d4a0d;
	--PrimaryBackground: #1b2229;
	--SecondaryBackground: #13181d;
	--TertiaryBackground: #24303c;
	--ActiveBackground: #e2af5a;
	--PrimaryMisc: #bdb3f9;
	--SecondaryMisc: #6685a5;
	--TertiaryMisc: #5b43f0;
}

.closeButton-3cJIM4:hover {
    opacity: 50%;
}

.colorInfo-2URYW5 .button-2DhvE9:hover {
    color: var(--PrimaryText);
}

.theme-dark .button-2DhvE9:hover, .theme-light .button-2DhvE9:hover {
    border-color: var(--PrimaryBackground);
    background-color: var(--PrimaryBackground);
}

.button-2DhvE9 {
    color: var(--PrimaryText);
}

.theme-dark .button-2DhvE9, .theme-light .button-2DhvE9 {
    border-color: var(--PrimaryText);
    background-color: transparent;
}

.bg-h5JY_x {
    background-color: var(--TertiaryBackground);
}

.notice-3bPHh- {
    color: var(--PrimaryText);
}

.noticeWrapper-8z511t {
    background-color: var(--TertiaryBackground);
}

.popoutBanner-19WKGg {
    background-color: var(--ActiveText)!important;
}

.popoutBannerPremium-1n96gg {
    background-color: var(--ActiveText)00;
}

.brand-1Zl8en.item-PXvHYJ:hover, .themed-OHr7kt.item-PXvHYJ:hover {
    color: var(--PrimaryText);
}

.discriminator-1swucG {
    color: var(--PrimaryText);
}

.topSection-y3p-_D {
    background-color: var(--ActiveText)!important;
}

.controlIcon-35oS15.active-1QRrIS, .controlIcon-35oS15:hover {
    color: var(--ActiveText);
}

.profileBannerPremium-35utuo {
    background-color:  var(--ActiveText)!important;
}

.body-3HBlXn {
    background-color: var(--ActiveText);
}

.footer-1N3bR3 {
    background-color: var(--ActiveText);
}

.newBrand .textBadge-1iylP6 {
    background-color: var(--PrimaryBackground)!important;
}

.aboutMeTitle-2i3lnH {
    display: block;
}

.aboutMeSection---MkQa {
    background-color: #00000000;
}

.theme-dark .lookFilled-1Gx00P.colorPrimary-3b3xI6:active, .theme-dark .lookFilled-1Gx00P.colorPrimary-3b3xI6:hover {
    background-color: var(--PrimaryText);
}

.setIdentityLink-OpBDR6 {
    display: none
}

.colorBrand-ROmMP1 {
    color: var(--SecondaryText);
}

.tipTitle-GL9qAt {
    color: var(--SecondaryText);
}

.tip-2cgoli {
    color: var(--SecondaryText);
}

.container-16j22k {
    background-color: var(--PrimaryBackground);
}

.clickable-1JJAn8:active .layout-2DM8Md {
    background-color: var(--PrimaryBackground);
}

.colorDefault-2K3EoJ:active:not(.hideInteraction-1iHO1O) {
    background-color: var(--PrimaryBackground);
    color: var(--SecondaryText);
}

.perkDescription-2-1vIq {
    color: var(--SecondaryText);
}

.featuredTag-3pT1Rf {
    background-color: var(--PrimaryBackground);
}

.listDefault-3ir5aS .clickable-1lCRLF.selected-3t3Csj .username-3KYl0N, .usernameSpeaking-RmltQx {
    color: var(--PrimaryAccent);
}

.button-2PWmas:hover {
    background-color: var(--ActiveText);
}

.notice-2X5hT5 {
    background-color: var(--PrimaryBackground);
}

.iconLive-AtZKgD {
    color: var(--SecondaryText);
}

.container-3baos1 .redIcon-2uP7Ej {
    color: var(--PrimaryText);
}

.headerTop-2cWpdB {
    background-color: var(--ActiveText)!important;
}

.discrimBase-1QwWzY {
    color: var(--SecondaryText);
}

.theme-dark .rhshpe9-mfhl5sd {
    border-color: var(--SecondaryText);
    color: var(--SecondaryText);
}

.bd-button.bd-button-danger:hover {
    background-color: var(--PrimaryBackground);
}

.bd-button:hover {
    background-color: var(--SecondaryAccent);
}

.brand-1Zl8en.item-PXvHYJ:active, .themed-OHr7kt.item-PXvHYJ:active {
    color: var(--PrimaryText);
}

.checkbox-3kaeSU .checkboxInner-3yjcPe .checkboxElement-1qV33p:checked+span:after {
    border-color: var(--PrimaryBackground);
}

.checkbox-3kaeSU .checkboxInner-3yjcPe .checkboxElement-1qV33p:checked+span {
    background-color: var(--SecondaryText);
    border-color: var(--SecondaryText);
}

.base-1x0h_U {
    color: var(--SecondaryText);
}

.layer-3QrUeG.baseLayer-35bLyl {
    background-color: var(--TertiaryBackground);
}

.peopleColumn-29fq28 {
    background-color: var(--PrimaryBackground);
}

.activityVoiceChannel-OPU-Fm .details-38sfDr {
    color: var(--SecondaryText);
}

.container-2dqNWc {
    background-color: var(--PrimaryBackground);
}

.button-11zvza {
    color: var(--SecondaryText);
}

.theme-dark .path-92Hmty, .theme-dark .path2-1q7bG_ {
    stroke: var(--SecondaryText);
}

.theme-dark .wrapper-3WhCwL {
    background: var(--TertiaryBackground);
    color: var(--PrimaryText);
}

.premiumTabItemLink-3IZzin {
    color: var(--PrimaryText)!important;
}

.profileBanner-33-uE1 {
    background-color: var(--ActiveText)!important;
}

.headerTop-2y3V6H {
    background-color: var(--ActiveText)!important;
}

.title-30qZAO {
    color: var(--SecondaryText);
}

.activityUserPopout-2yItg2 {
    background-color: var(--ActiveText)!important;
}

.headerNormal-1l1Znk .headerTag-nSOkYt {
    color: var(--PrimaryText);
}

.headerTop-2y3V6H {
    background-color: var(--ActiveText);
}

.emojiItemDisabled-1FvFuF {
    filter: grayscale(0%);
}

.pro-1T8RK7 .base-1x0h_U {
    color: var(--SecondaryText)!important;
}

.theme-dark .watchButton-2SbJEo {
    border-color: var(--SecondaryText);
    color: var(--PrimaryText);
}

.theme-dark .activityStreamPreview-3r3GiX .activityName-1IaRLn, .theme-dark .activityStreamPreview-3r3GiX .content-3JfFJh, .theme-dark .activityStreamPreview-3r3GiX .details-38sfDr, .theme-dark .activityStreamPreview-3r3GiX .name-29ETJS, .theme-dark .activityStreamPreview-3r3GiX .nameNormal-2lqVQK {
    color: var(--SecondaryText);
}

.theme-dark .streamPreview-2-WUWT {
    background-color: var(--PrimaryBackground);
}

.iconBase-3LOlfs {
    color: var(--ActiveText)!important;
}

.icon-3Oovq9 {
    background-color: var(--ActiveText)!important;
}

.contentTitle-2tG_sM strong {
    color: var(--SecondaryText)!important;
}

.colorInteractiveActive-3Ip9Eu {
    color: var(--SecondaryText);
}

.autocomplete-1vrmpx {
    background-color: var(--PrimaryBackground)!important;
}

.theme-dark .keybindShortcut-1BD6Z1 span {
    color: var(--SecondaryText);
}

.keybindShortcut-1BD6Z1 span {
    background-color: var(--TertiaryBackground);
}

.filled-1iCBCZ {
    background-color: var(--PrimaryBackground);
}

.filled-1iCBCZ:hover {
    background-color: var(--PrimaryText);
}

.warning-3C2pOH {
    background: var(--PrimaryBackground);
    border: 1px solid var(--SecondaryText)6b;
    color: var(--SecondaryText);
}

.warning-3C2pOH .icon-1jlFSw {
    color: var(--SecondaryText);
}

.css-4h5swf-singleValue {
    color: var(--PrimaryText);
}

.css-1ba14n5-option {
    color: var(--PrimaryAccent);
}

.css-1yz4bi9-option {
    color: var(--PrimaryAccent);
}

.css-rzbxvl-option {
    color: var(--PrimaryAccent);
}

.css-3vaxre-menu {
    background-color: var(--PrimaryBackground);
    color: var(--SecondaryText)!important;
    border-radius: 0px;
}

.css-17e1tep-control {
    background-color: var(--PrimaryBackground);
    color: var(--SecondaryText)!important;
    border-color: #00000000;
}

.css-17e1tep-control::hover {
    border-color: #00000000;
}


.theme-dark .focused-2bY0OD {
    background-color: var(--PrimaryBackground);
}

.item-26Dhrx:hover:not([aria-checked=true]) {
    background-color: var(--PrimaryBackground);
}

.item-26Dhrx[aria-checked=true] {
    background-color: var(--PrimaryBackground);
}

.beta-3smTDE {
    color: var(--PrimaryAccent);
}

#app-mount .layer-3QrUeG[aria-label*=USER_SETTINGS] .previewOverlay-2O7_KC {
    background-color: var(--background-secondary);
    border-color: var(--background-tertiary);
}

#app-mount .layer-3QrUeG[aria-label*=USER_SETTINGS] .notches-1sAcEM {
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='20' fill='%1f2933A'%3E%3Cpath fill-rule='evenodd' d='M0 0h8v20H0V0zm4 2a2 2 0 00-2 2v12a2 2 0 104 0V4a2 2 0 00-2-2z'/%3E%3C/svg%3E");
}

.theme-dark .progress-1IcQ3A {
    background-color: var(--PrimaryBackground);
}

.checkbox-1ix_J3 {
    border-color: var(--PrimaryBackground)!important;
    background-color: var(--PrimaryText)!important;
}

.theme-dark .markDash-3hAolZ {
    background: var(--TertiaryBackground);
}

.theme-dark .markValue-2DwdXI {
    color: var(--PrimaryText);
}

.theme-dark .bar-2Qqk5Z {
    background: var(--TertiaryBackground);
}

.grabber-3mFHz2 {
    background-color: var(--ActiveText);
    border: 1px solid #ffffff00;
}

.defaultValue-3gC7yw .markValue-2DwdXI {
    color: var(--SecondaryText);
}

.barFill-23-gu- {
    background: var(--SecondaryText);
}

.theme-dark .activeBreadcrumb-p6aw-F {
    color: #ffe281e0;
}

.theme-dark .breadcrumbWrapper-WmDjgG {
    color: var(--SecondaryText)87;
}

.subscribeTooltipWrapper-1JoUuw {
    background-color: var(--PrimaryBackground);
}

.base-1x0h_U.muted-3-7c5L {
    color: var(--ActiveBackground);
}

.premiumTabItem-1QTfBr[aria-selected=true] {
    color: var(--PrimaryBackground)!important;
    background-color: var(--SecondaryText)!important;
}

.lookOutlined-3sRXeN.colorBrand-3pXr91 {
    color: var(--PrimaryText);
    border-color: var(--SecondaryText);
}

.container-3auIfb {
    background-color: var(--ActiveText)!important
}

.container-3auIfb:not([style*="background-color: rgb(114, 118, 125);"]) { /*Checked buttons color*/
    background-color: var(--PrimaryText)!important;
}
.container-3auIfb:not([style*="background-color: rgb(114, 118, 125);"]) svg svg path { /*Changes the checkmark color*/
    fill: var(--PrimaryText)!important;
}

.item-26Dhrx[aria-checked=true] {
    color: var(--PrimaryAccent);
}

.radioIconForeground-XwlXQN {
    color: var(--SecondaryText);
}

.theme-dark .lookFilled-1Gx00P.colorGrey-2DXtkV:hover {
    background-color: var(--SecondaryBackground);
}

.theme-dark .subText-2Zhkkh, .theme-light .subText-2Zhkkh {
    color: var(--SecondaryText);
}

.theme-dark .emptyStateSubtext-2hdA9c {
    color: var(--SecondaryText);
}

.theme-dark .keybind-KpFkfr {
    color: var(--SecondaryText);
}

.theme-dark .closeButton-1tv5uR {
    border-color: var(--SecondaryText);
}

.theme-dark .emptyStateHeader-248f_b {
    color: var(--SecondaryText);
}

.card-3Qj_Yx a {
    color: var(--PrimaryAccent);
}

.colorPremium-p4p7qO .icon-LYJorE {
    color: var(--PrimaryAccent);
}

.icon-Zc-uZZ {
    display: none;
}

.flowerStarContainer-3zDVtj {
    display: none;
}

.expandedFolderIconWrapper-Huv7rA svg {
  color: var(--SecondaryText)!important;
}

.jumpToPresentBar-G1R9s6 {
    background-color: var(--PrimaryBackground);
}

/* hide gift button */
[aria-label="Send a gift"] {
    display: none !important;
}

.theme-dark .friend-3KALPe {
    color: var(--PrimaryAccent)!important;
}

.theme-dark .checkbox-1ix_J3 {
    border-color: var(--SecondaryText);
}

.theme-dark .friendSelected-1sa4bG {
    background-color: var(--PrimaryBackground);
    color: var(--SecondaryText);
}

.secondary-dIudih {
    color: var(--header-secondary);
}

.theme-dark .header-2-Imhb .tabBar-1kuXvJ .tab-ck0077.active-1MbGPa {
    background-color: var(--background-accent);
}

.description-1sDbzZ {
    color: var(--SecondaryText);
}

.emptyChannelIcon-cc932w {
    background-color: var(--PrimaryBackground);
}

.modeMuted-onO3r- .icon-1DeIlz, .modeMuted-onO3r- .name-23GUGE {
    color: var(--TertiaryAccent);
}

.uploadModalIn-1z07Bv .uploadDropModal-2kTwbc .bgScale-1otPtc {
    background: var(--PrimaryBackground);
    color: var(--PrimaryBackground);
}

.active-23Nm0T .buttonWrapper-1ZmCpA, .buttonWrapper-1ZmCpA:hover {
    color: var(--ActiveText);
}

.sprite-2iCowe {
    filter: grayscale(0%)!important;
}

.guilds-1SWlCJ .homeIcon-FuNwkv {
    position: absolute;
    margin-left: 2px;
    width: 45px;
    height: 45px;
}

.guilds-1SWlCJ .homeIcon-FuNwkv path {
    d: path("M11.848.047C11.792.072 11.672.163 11.581.248L11.416.403 11.416 3.043 11.416 5.683 11.594 5.871C11.834 6.123 11.871 6.141 12.16 6.141 12.45 6.141 12.49 6.122 12.727 5.868L12.904 5.678 12.904 3.04 12.904.403 12.739.248C12.47-.003 12.128-.08 11.848.047M3.832 3.369C3.414 3.518 3.189 4.055 3.417 4.358 3.866 4.954 6.747 7.849 7.085 8.043 7.621 8.351 8.345 7.711 8.106 7.139 7.976 6.827 5.2 4.006 4.469 3.442 4.305 3.315 4.062 3.288 3.832 3.369M19.915 3.389C19.731 3.485 19.492 3.709 18.338 4.863 17.113 6.088 16.616 6.607 16.339 6.95L16.193 7.131 16.193 7.356C16.193 7.871 16.67 8.244 17.134 8.091 17.449 7.987 20.713 4.721 20.937 4.286 21.098 3.973 20.901 3.509 20.554 3.386 20.42 3.338 20.009 3.34 19.915 3.389M11.424 6.875C10.256 6.998 8.989 7.693 8.146 8.673 6.844 10.187 6.491 12.296 7.232 14.134 7.281 14.255 7.321 14.357 7.321 14.361 7.321 14.365 6.704 14.369 5.95 14.369 2.807 14.37 1.3 14.444.898 14.617.697 14.704.67 14.753.67 15.032.67 15.702.508 15.693 13.19 15.677 18.972 15.67 21.592 15.658 21.913 15.638 23.503 15.54 23.675 15.48 23.675 15.021L23.675 14.784 23.589 14.704C23.328 14.457 21.97 14.37 18.356 14.369L16.996 14.369 17.013 14.313C17.023 14.282 17.046 14.226 17.066 14.187 17.649 13.041 17.61 11.204 16.973 9.882 15.951 7.758 13.85 6.619 11.424 6.875M12.904 8.425C15.491 9.008 16.788 11.999 15.374 14.122L15.21 14.369 12.153 14.363 9.097 14.356 9.004 14.216C7.508 11.956 8.845 8.904 11.552 8.402 11.822 8.351 12.64 8.366 12.904 8.425M1.514 11.392C.409 11.413.394 11.415.212 11.598-.002 11.811-.06 12.122.052 12.454.193 12.871.26 12.879 3.552 12.879L5.727 12.88 5.874 12.737C6.253 12.368 6.247 11.714 5.862 11.518 5.585 11.376 4.307 11.339 1.514 11.392M18.816 11.417C18.148 11.484 17.941 12.176 18.43 12.704L18.592 12.88 20.47 12.879C22.402 12.879 23.784 12.849 23.95 12.805 24.394 12.685 24.445 11.94 24.036 11.54L23.896 11.403 21.459 11.4C20.119 11.398 18.929 11.405 18.816 11.417") !important;
}

.reaction-1hd86g.reactionMe-wv5HKu {
    background-color: var(--PrimaryBackground);
    border-color: var(--SecondaryText);
}

.lookFilled-1Gx00P.colorBrand-3pXr91:disabled {
    background-color: var(--ActiveText);
}

.theme-dark .outer-1AjyKL.active-1xchHY, .theme-dark .outer-1AjyKL.interactive-3B9GmY:hover {
    background-color: var(--PrimaryBackground);
}

.theme-dark .inset-3sAvek {
    background-color: var(--TertiaryBackground);
}

.outer-1AjyKL {
    background-color: var(--PrimaryBackground);
}

.lookLink-9FtZy-.colorBrand-3pXr91 {
    color: var(--ActiveBackground);
}

.theme-dark.authBox-hW6HRx {
    color: var(--SecondaryText);
    background: var(--PrimaryBackground);
}

.message-2qnXI6.ephemeral-1PsL1r.selected-2P5D_Z, .message-2qnXI6.replying-1x3H0T.selected-2P5D_Z, .mouse-mode.full-motion .ephemeral-1PsL1r:hover, .mouse-mode.full-motion .replying-1x3H0T:hover {
    background-color: var(--SecondaryText)14;
}

.replying-1x3H0T {
    background-color: var(--SecondaryText)14;
}

.replying-1x3H0T:before {
    background-color: var(--SecondaryText);
}

.backdrop-1wrmKB {
    background: var(--PrimaryBackground)!important;
}

.downloadLink-1ywL9o {
    color: var(--SecondaryText)!important;
}

.tierMarkerInProgress-24LMzJ {
    background: var(--PrimaryBackground)!important;
}

.headerStreaming-2FjmGz {
    background: var(--PrimaryBackground);
}

.headerXbox-3G-4PF {
    background: var(--PrimaryBackground);
}

.theme-dark .tierLock-3CSxSX {
    color: var(--SecondaryText)70;
}

.theme-dark .tierHeaderLocked-1s2JJz {
    background-color: var(--PrimaryBackground);
    color: var(--SecondaryText)70;
}

.theme-dark .tierBody-16Chc9 {
    background-color: var(--PrimaryBackground);
}

.theme-dark .barBackground-2EEiLw {
    background-color: var(--ActiveText);
}

.theme-dark .perksModal-fSYqOq {
    background-color: var(--PrimaryBackground);
}

.theme-dark .headerLogo--hLLAk {
    color: var(--SecondaryText);
}

.tabBarItem-1b8RUP .item-PXvHYJ .themed-OHr7kt {
    border-color: var(--SecondaryText);
    color: var(--SecondaryText);
}

.top-28JiJ- .selected-3s45Ha.themed-OHr7kt.item-PXvHYJ, .top-28JiJ- .themed-OHr7kt.item-PXvHYJ:active {
    border-bottom-color: var(--SecondaryText);
}

.discriminator-xUhQkU {
    color: var(--PrimaryText);
}

.additionalActionsIcon-1FoUlE {
    color: var(--SecondaryText);
}

.colorDefault-2K3EoJ.focused-3afm-j {
    background-color: var(--TertiaryBackground);
    color: var(--PrimaryText);
}

.lookInverted-2D7oAl.colorBrand-3pXr91:hover {
    background-color: #fbd03f;
}

.botTagInvert-18-95s {
    background: var(--PrimaryText);
    color: var(--PrimaryBackground);
}

.theme-dark .calendarPicker-2yf6Ci .react-datepicker__day.react-datepicker__day--selected:hover, .theme-dark .calendarPicker-2yf6Ci .react-datepicker__day:hover {
    color: var(--PrimaryBackground);
    background-color: var(--SecondaryText);
}

.theme-dark .calendarPicker-2yf6Ci .react-datepicker__day.react-datepicker__day--selected:after {
    background-color: var(--SecondaryText);
}

.theme-dark .calendarPicker-2yf6Ci .react-datepicker__navigation.react-datepicker__navigation--next, .theme-dark .calendarPicker-2yf6Ci .react-datepicker__navigation.react-datepicker__navigation--previous {
    border-color: var(--SecondaryText);
}

.theme-dark .datePicker--XZbmJ .datePickerHint-3Q1Udw .hintValue-29ny8Z:hover {
    background-color: var(--SecondaryText);
}

.theme-dark .calendarPicker-2yf6Ci .react-datepicker__day.react-datepicker__day--disabled, .theme-dark .calendarPicker-2yf6Ci .react-datepicker__day.react-datepicker__day--disabled:hover {
    background-color: var(--ActiveText);
    color: var(--SecondaryText);
}

.theme-dark .calendarPicker-2yf6Ci .react-datepicker__day--disabled, .theme-dark .calendarPicker-2yf6Ci .react-datepicker__day--outside-month {
    background-color: var(--ActiveText);
    color: var(--SecondaryText);
}

.theme-dark .calendarPicker-2yf6Ci .react-datepicker__day-name {
    color: var(--SecondaryText);
}

.theme-dark .calendarPicker-2yf6Ci .react-datepicker__header {
    background-color: var(--PrimaryBackground);
}

.theme-dark .datePicker--XZbmJ .datePickerHint-3Q1Udw .hintValue-29ny8Z {
    color: var(--PrimaryBackground);
    background-color: var(--SecondaryText);
}

.theme-dark .calendarPicker-2yf6Ci .react-datepicker__current-month {
    border-bottom-color: var(--SecondaryText)2e;
    color: var(--SecondaryText);
}

.theme-dark .calendarPicker-2yf6Ci .react-datepicker {
    background-color: var(--PrimaryBackground);
}

.theme-dark .option-96V44q.user-O3Czj0 .displayUsername-Qekxml {
    color: var(--PrimaryText);
}

.theme-dark .option-96V44q.user-O3Czj0 .displayedNick-3xxvzU {
    color: var(--SecondaryText);
}

.applicationName-1-Uq7y.clickable-1bVtEA:hover, .commandName-1klrjB.clickable-1bVtEA:hover, .username-1A8OIy.clickable-1bVtEA:hover {
    text-decoration: none;
}

.mediaBarInteraction-37i2O4:hover .mediaBarGrabber-1FqnbN {
    background-color: var(--PrimaryText);
}

.buffer-26XPkd, .buffer-26XPkd:after, .buffer-26XPkd:before {
    background-color: var(--PrimaryBackground);
}

.metadataIcon-2FyCKU {
    color: var(--PrimaryText);
}

.wrapper-2TxpI8 {
    color: var(--SecondaryText);
}

.audioControls-2HsaU6, .videoControls-2kcYic {
    background-color: var(--PrimaryBackground)ba;
}

.metadata-13NcHb {
    background-image: -webkit-gradient(linear,left bottom,left top,from(transparent),to(var(--PrimaryBackground)ba));
}

.mediaBarGrabber-1FqnbN, .mediaBarProgress-1xaPtl, .mediaBarProgress-1xaPtl:after, .mediaBarProgress-1xaPtl:before {
    background-color: var(--SecondaryText);
}

.modeSelected-346R90 .icon-1DeIlz, .modeSelected-346R90:hover .icon-1DeIlz, .modeUnread-1qO3K1 .icon-1DeIlz, .modeUnread-1qO3K1:hover .icon-1DeIlz {
    color: var(--ActiveText);
}

.input-cIJ7To.focused-1mmYsC, .input-cIJ7To:focus {
    border-color: var(--SecondaryText);
}

.theme-dark .m6g7rkj-k7ii0p4 {
    border-color: var(--SecondaryText);
    color: var(--SecondaryText);
}

.guildNick-3uAm3i {
    color: var(--SecondaryText);
}

.activityHeader-1PExlk {
    color: var(--SecondaryText);
}

.topSectionSpotify-1lI0-P {
    background: var(--PrimaryBackground);
}


.colorDanger-2qLCe1, .colorDanger-2qLCe1 .checkbox-3s5GYZ, .colorDanger-2qLCe1 .radioSelection-1HmrQS {
    color: var(--PrimaryAccent);
}

.topSectionNormal-2-vo2m .activityHeader-1PExlk, .topSectionNormal-2-vo2m .customStatusText-39gdCI {
    color: var(--SecondaryText);
}

.theme-dark .option-96V44q .filter-3Y_im- {
    color: var(--SecondaryText);
}

.searchAnswer-3Dz2-q, .searchFilter-2ESiM3 {
    color: var(--SecondaryText);
}

.theme-dark .option-96V44q .answer-1n6g43, .theme-dark .option-96V44q .nonText-3CRkO0, .theme-dark .option-96V44q strong {
    color: var(--PrimaryText);
}

.theme-dark .option-96V44q.selected-rZcOL-:after {
    background: linear-gradient(90deg,rgba(35,38,42,0),var(--PrimaryBackground) 50%);
}

.theme-dark .option-96V44q.selected-rZcOL- {
    background-color: var(--PrimaryBackground);
}

.theme-dark .option-96V44q:after {
    background: linear-gradient(90deg,rgba(54,57,63,0),var(--PrimaryBackground) 80%);
}

.theme-dark .container-3ayLPN {
    background-color: var(--PrimaryBackground);
}

.theme-dark .searchOption-zQ-1l6 .filter-3Y_im- {
    color: var(--PrimaryText);
}

.theme-dark .searchOption-zQ-1l6 .answer-1n6g43 {
    color: var(--SecondaryText);
}

.theme-dark .resultsGroup-r_nuzN .header-2N-gMV, .theme-dark .resultsGroup-r_nuzN .plusIcon-v0BTrL, .theme-dark .resultsGroup-r_nuzN .searchClearHistory-2cSSMO, .theme-dark .resultsGroup-r_nuzN .searchLearnMore-3SQUAj a {
    color: var(--SecondaryText);
}

.textArea-12jD-V {
    background-color: var(--PrimaryBackground);
}

.headerSpotify-zpWxgT {
    background: var(--PrimaryBackground);
}

.theme-dark .headerNormal-T_seeN {
    background-color: var(--PrimaryBackground);
}

.headerPlaying-j0WQBV {
    background: var(--PrimaryBackground);
}

.theme-dark .message-2qRu38 {
    background-color: var(--PrimaryBackground);
}

.colorDefault-2K3EoJ .checkbox-3s5GYZ, .colorDefault-2K3EoJ .radioSelection-1HmrQS {
    color: var(--PrimaryAccent);
}

.menu-3sdvDG {
    background: var(--PrimaryBackground);
}

.required-7sPBq3 {
    color: var(--SecondaryText);
}

.iconBadge-qZ4Ksk {
    background-color: var(--SecondaryText);
}

.status-1WEaea {
    color: var(--SecondaryText);
}

.status-1WEaea {
    background-color: var(--ActiveText);
}

.wrapper-2qzCYF.minimum-28Z35l {
    background-color: var(--PrimaryBackground);
}

.tab-2j5AEF.selected-2LAck8 {
    color: var(--PrimaryBackground);
}

.theme-dark .tab-2j5AEF.selected-2LAck8 {
    background-color: var(--SecondaryText);
}

.lookFilled-1Gx00P.colorRed-1TFJan:hover {
    color: var(--PrimaryBackground);
    background-color: var(--PrimaryText);
}

.theme-dark .lookLink-9FtZy-.colorPrimary-3b3xI6 {
    color: var(--SecondaryText);
}

.lookFilled-1Gx00P.colorRed-1TFJan {
    background-color: var(--PrimaryBackground);
    color: var(--PrimaryText);
}

 .questionMark-3qBhGj {
    background-color: var(--PrimaryBackground);
}

.topic-TCb_qw {
    color: var(--PrimaryText);
}

.strikethrough-3Wiitd {
    color: var(--SecondaryMisc);
}

.toolbar-1t6TWx .anchor-3Z-8Bb {
  display: none;
}

.discriminator-22Okc1 {
    color: var(--PrimaryText);
}

.topSectionNormal-2-vo2m .discriminator-xUhQkU {
    color: var(--PrimaryText);
}

.link-3dHnkW {
    color: var(--SecondaryText);
}

.colorable-1bkp8v.primaryDark-3mSFDl.active-1QRrIS, .colorable-1bkp8v.primaryDark-3mSFDl:hover {
    background: var(--PrimaryBackground);
}

.colorable-1bkp8v.white-3GPOIp.active-1QRrIS, .colorable-1bkp8v.white-3GPOIp:hover {
    background: var(--PrimaryBackground);
}

.colorable-1bkp8v.red-33-Lnk.active-1QRrIS, .colorable-1bkp8v.red-33-Lnk:hover {
    background: var(--PrimaryBackground);
}

.colorable-1bkp8v.primaryDark-3mSFDl, .colorable-1bkp8v.primaryDark-3mSFDl .centerIcon-2G6o-T {
    color: var(--SecondaryText);
}

.colorable-1bkp8v.primaryDark-3mSFDl {
    background: var(--ActiveText);
}

.slash-33-IMF {
    color: var(--SecondaryMisc);
}

.colorable-1bkp8v.white-3GPOIp {
    background: var(--ActiveText);
}

.colorable-1bkp8v.white-3GPOIp, .colorable-1bkp8v.white-3GPOIp .centerIcon-2G6o-T {
    color: var(--SecondaryText);
}

.colorable-1bkp8v.red-33-Lnk {
    background: var(--ActiveText);
}

.colorable-1bkp8v.red-33-Lnk, .colorable-1bkp8v.red-33-Lnk .centerIcon-2G6o-T {
    color: var(--SecondaryText);
}

.button-3HqqDX {
    background-color: var(--ActiveText);
    color: var(--SecondaryText);
}

.header-2Zv56X {
    color: var(--SecondaryText);
}

.tile-2naSqK {
    background-color: var(--PrimaryBackground);
}

.lookFilled-1Gx00P.colorBrand-3pXr91:hover {
    background-color: var(--PrimaryText);
    color: var(--PrimaryBackground);
}

.lookFilled-1Gx00P.colorGreen-29iAKY:hover {
    background-color: var(--PrimaryText);
}

.lookOutlined-3sRXeN.colorGreen-29iAKY {
    color: var(--PrimaryText);
    border-color: var(--PrimaryText);
}

.button-1YfofB.buttonColor-7qQbGO.buttonActive-3FrkXp:hover, .button-1YfofB .buttonColor-7qQbGO.buttonActive-3FrkXp:hover {
    background-color: var(--PrimaryText);
}

.controlIcon-35oS15 {
    color: var(--PrimaryText);
}

.theme-dark .container-2x5lvQ .header-2C89wJ {
    background-color: var(--PrimaryBackground);
}

.theme-dark .container-2x5lvQ section {
    background-color: var(--PrimaryBackground);
}

.strikethrough-1n4ekb {
    color: var(--SecondaryMisc);
}

.sampleLink-2NLvZg {
    color: var(--PrimaryText);
}

.input-cIJ7To {
    color: var(--PrimaryText);
    background-color: var(--PrimaryBackground);
}

.repliedMessage-VokQwo {
    color: var(--PrimaryText);
}

.theme-dark .footer-3mqk7D {
    background-color: var(--ActiveText);
}

.theme-dark .uploadModal-2ifh8j {
    background-color: var(--PrimaryBackground);
}

.selectorButton-EEUWed:not(.selectorButtonPremiumRequired-mKMbIu):hover {
    background-color: var(--PrimaryAccent);
}

.selectorButtonSelected-t5V9On {
    background-color: var(--TertiaryAccent);
}

.theme-dark .root-1gCeng {
    background-color: var(--PrimaryBackground);
}

.theme-dark .spoilerText-3p6IlD.hidden-HHr2R9 {
    background-color: var(--ActiveBackground);
}

.unread-2lAfLh {
    background-color: var(--SecondaryText);
}

.unread-1xRYoj {
    background-color: var(--TertiaryBackground);
    opacity: .9;
}

.theme-dark .searchAnswer-3Dz2-q, .theme-dark .searchFilter-2ESiM3 {
    background-color: var(--TertiaryBackground);
}

.theme-light .lookFilled-1Gx00P.colorGrey-2DXtkV:hover {
    background-color: var(--ActiveBackground);
}

.theme-light .lookFilled-1Gx00P.colorGrey-2DXtkV {
    color: var(--SecondaryText);
    background-color: var(--TertiaryBackground);
}

.botTagRegular-2HEhHi {
    background: var(--PrimaryText);
    color: var(--TertiaryBackground);
}

.button-1YfofB.buttonColor-7qQbGO.buttonActive-3FrkXp, .button-1YfofB .buttonColor-7qQbGO.buttonActive-3FrkXp {
    background-color: var(--TertiaryBackground);
    color: var(--PrimaryText);
}

.live-vBWnV6 {
	color: var(--SecondaryText);
}

.avatarSpeaking-2IGMRN {
    -webkit-box-shadow: inset 0 0 0 2px var(--SecondaryText),inset 0 0 0 3px var(--background-secondary);
    box-shadow: inset 0 0 0 2px var(--SecondaryText),inset 0 0 0 3px var(--background-secondary);
}

.avatarSpeaking-2c8-9i {
    -webkit-box-shadow: inset 0 0 0 2px var(--SecondaryText),inset 0 0 0 3px var(--background-secondary);
    box-shadow: inset 0 0 0 2px var(--SecondaryText),inset 0 0 0 3px var(--background-secondary);
    border-radius: 50%;
}

.subtext-3CDbHg {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    color: var(--SecondaryText);
    line-height: 13px;
}

.circleIconButton-1QV--U {
    color: var(--SecondaryAccent);
    background-color: var(--PrimaryBackground);
}

.circleIconButton-1QV--U.selected-1JjBPm {
    color: var(--TertiaryBackground);
    background-color: var(--SecondaryText);
}

.numberBadge-2s8kKX {
    color: var(--TertiaryBackground);
    background-color: var(--SecondaryAccent)!important;
}

.wrapper-1BJsBx.selected-bZ3Lue .childWrapper-anI2G9, .wrapper-1BJsBx:hover .childWrapper-anI2G9 {
    color: var(--PrimaryText);
    background-color: var(--TertiaryBackground);
}

.childWrapper-anI2G9:hover {
    color: var(--PrimaryText);
    background-color: var(--TertiaryBackground);
}

.selected-3s45Ha.item-PXvHYJ, .selected-3s45Ha.item-PXvHYJ:hover {
    cursor: default;
    color: var(--PrimaryText);
}

.top-28JiJ- .selected-3s45Ha.themed-OHr7kt.item-PXvHYJ .top-28JiJ- .themed-OHr7kt.item-PXvHYJ:active {
    border-bottom-color: var(--SecondaryText);
}

.mention-1f5kbO {
    background-color: var(--PrimaryText);
}

.mention-1f5kbO:active {
    background-color: var(--ActiveText);
}

.lookBlank-3eh9lL {
    background: transparent;
    color: var(--PrimaryText);
}

.theme-light .root-1gCeng {
    background: var(--PrimaryBackground);
}

.theme-dark .footer-2gL1pp {
    background-color: var(--TertiaryBackground);
    box-shadow: inset 0 1px 0 var(--PrimaryBackground);
}

.theme-dark .lookFilled-1Gx00P.colorGrey-2DXtkV {
    color: var(--SecondaryText);
    background-color: var(--TertiaryBackground);
}

.theme-light {
 	--background-modifier-accent: rgb(199, 171, 12);
}

.newMessagesBar-265mhP {
    top: 0;
    border-radius: 0 0 8px 8px;
    background-color: var(--TertiaryBackground);
    -webkit-box-shadow: var(--elevation-low);
    box-shadow: var(--elevation-low);
}

.barButtonBase-2uLO1z {
    text-align: left;
    background: none;
    color: var(--SecondaryText);
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    font-weight: 500;
    padding: 0 12px;
    font-size: 14px;
    line-height: 24px;
    height: 24px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
}

.search-1iTphC .searchBox-2_mAlO:focus, .search-1iTphC .searchBox-2_mAlO:focus-within {
    -webkit-box-shadow: 0 0 0 1px var(--TertiaryMisc), 0 0 0 2px var(--PrimaryMisc), 0 0 0 3px var(--PrimaryMisc);
    box-shadow: 0 0 0 1px var(--TertiaryMisc), 0 0 0 2px var(--PrimaryMisc), 0 0 0 3px var(--PrimaryMisc);
    border-color: var(--PrimaryBackground);
}

.search-1iTphC .searchBox-2_mAlO {
    z-index: 2;
    border-radius: 8px;
    background-color: var(--SecondaryText);
    padding-right: 8px;
}

.searchBox-3Y2Vi7 .searchBoxInput-uJtBcv {
    border: none;
    font-size: 18px;
    font-weight: 500;
    padding: 12px;
    background: var(--SecondaryText);
    height: auto;
}

.search-1iTphC .searchBox-2_mAlO .searchBoxInput-K6mkng {
    font-size: 16px;
    padding: 8px;
    color: var(--PrimaryBackground);
}

.categoryItem-1QIroW.selectedCategoryItem-FHKU_o .itemInner-gPkiWb {
    background-color: var(--PrimaryText);
}

.categoryItem-1QIroW {
    color: var(--PrimaryText);
    margin-left: 8px;
}



.lookInverted-2D7oAl.colorGreen-29iAKY {
    color: var(--PrimaryBackground);
    background-color: var(--SecondaryText);
}

.lookFilled-1Gx00P.colorGreen-29iAKY {
	color: var(--PrimaryBackground);
    background-color: var(--SecondaryText);
}

.lookInverted-2D7oAl.colorBrand-3pXr91 {
    color: var(--PrimaryBackground);
    background-color: var(--SecondaryText);
}

.topSectionPlaying-1J5E4n {
    background: var(--PrimaryBackground);
}

.topSectionXbox-3fWLjS {
    background: var(--PrimaryBackground);
}

.membershipDialogHouse2-35h9SY {
    background-color: var(--PrimaryBackground);
}

.membershipDialog-rVL-t_:after {
    position: absolute;
    top: 0;
    left: 0;
    /* background-image: url(/assets/c48ff25….svg); */
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
    content: "";
    opacity: .15;
    width: 100%;
    height: 100%;
    z-index: 0;
}

.bd-addon-views .bd-view-button.selected {
    background-color: var(--SecondaryText);
}

.theme-dark .lookFilled-1Gx00P.colorPrimary-3b3xI6 {
    color: var(--PrimaryBackground);
    background-color: var(--SecondaryText);
}

.clickable-1JJAn8.container-2Pjhx-:active, .highlighted-1gWxXa.container-2Pjhx-, .selected-aXhQR6.container-2Pjhx- {
    color: var(--ActiveText);
}

.modeConnected-3IsKId .name-23GUGE, .modeConnected-3IsKId:hover .name-23GUGE, .modeSelected-346R90 .name-23GUGE, .modeSelected-346R90:hover .name-23GUGE, .modeUnread-1qO3K1 .name-23GUGE, .modeUnread-1qO3K1:hover .name-23GUGE, .notInteractive-1X92pj.modeConnected-3IsKId .name-23GUGE, .notInteractive-1X92pj.modeSelected-346R90 .name-23GUGE {
    color: var(--ActiveText);
}

.bd-button.bd-button-danger {
    background-color: var(--ActiveText);
}

.bd-addon-views .bd-view-button.selected svg {
    fill: var(--PrimaryBackground);
}

.bd-switch input:checked+.bd-switch-body {
    --switch-color: var(--PrimaryText);
}

.bd-switch-body {
    --switch-color: var(--PrimaryBackground);
}

.bd-switch-body::after {
    background-color: var(--PrimaryBackground);;
}

.bd-button {
    background-color: var(--SecondaryAccent);
    color: var(--TertiaryAccent);
    transition: background-color .17s ease,color .17s ease,opacity 250ms ease;
}

.item-2hkk8m {
    background-color: var(--PrimaryAccent);
}

.cardPrimary-1Hv-to {
	background-color: var(--PrimaryBackground);
}

.theme-dark .codeRedemptionRedirect-1wVR4b {
	background-color: var(--PrimaryBackground);
	color: var(--SecondaryText);
}


.selected-1GqIat .icon-22AiRD {
    color: var(--SecondaryText);
}

.headerNormal-T_seeN .customStatus-1bh2V9 {
    color: var(--PrimaryText);
}

.customStatus-1bh2V9 {
    color: var(--PrimaryText);
}

.barInner-3NDaY_ {
	background-color: var(--PrimaryText);
}

.lookOutlined-3sRXeN.colorWhite-rEQuAQ {
    color: var(--PrimaryText);
    border-color: var(--PrimaryText);
}

.theme-dark .activityProfile-2bJRaP .content-3JfFJh, .theme-dark .activityProfile-2bJRaP .details-38sfDr, .theme-dark .activityProfile-2bJRaP .headerText-1HLrL7, .theme-dark .activityProfile-2bJRaP .name-29ETJS, .theme-dark .activityUserPopout-2yItg2 .content-3JfFJh, .theme-dark .activityUserPopout-2yItg2 .details-38sfDr, .theme-dark .activityUserPopout-2yItg2 .headerText-1HLrL7, .theme-dark .activityUserPopout-2yItg2 .name-29ETJS, .theme-light .activityProfile-2bJRaP .content-3JfFJh, .theme-light .activityProfile-2bJRaP .details-38sfDr, .theme-light .activityProfile-2bJRaP .headerText-1HLrL7, .theme-light .activityProfile-2bJRaP .name-29ETJS, .theme-light .activityUserPopout-2yItg2 .content-3JfFJh, .theme-light .activityUserPopout-2yItg2 .details-38sfDr, .theme-light .activityUserPopout-2yItg2 .headerText-1HLrL7, .theme-light .activityUserPopout-2yItg2 .name-29ETJS {
    color: var(--PrimaryText);
}

.activityName-1IaRLn, .nameNormal-2lqVQK, .nameWrap-3Z4G_9 {
    color: var(--PrimaryText);
}

.headerTag-2pZJzA {
	color: var(--PrimaryText);
}

.headerName-fajvi9 {
	color: var(--SecondaryText);
}

.colorHeaderPrimary-26Jzh- {
	color: var(--SecondaryText);
}

.colorStandard-2KCXvj {
	color: var(--PrimaryText);
}

.container-UC8Ug1 {
	background-color: var(--PrimaryBackground);
}

.theme-dark .pageWrapper-1PgVDX {
	background-color: var(--TertiaryBackground);
}

.content-1LAB8Z {
	background-color: var(--PrimaryBackground);
}

.theme-dark .footer-2gL1pp {
	background-color: var(--PrimaryBackground);
}

.theme-dark .footer-1FPmkC {
	background-color: var(--PrimaryBackground);
}

.scroller-2hZ97C {
	background-color: var(--PrimaryBackground);
}


.protip-YaFfgO {
	color: var(--SecondaryText);
}

.bodyTitle-Y0qMQz {
	color: var(--SecondaryText);
}

.headerNormal-T_seeN .headerTag-2pZJzA {
	color: var(--PrimaryText);
}

.roleColor-rz2vM0 {
	color: var(--SecondaryText);
}

.username-2b1r56 {
	color: var(--SecondaryText);
}

.theme-dark .body-3iLsc4, .theme-dark .footer-1fjuF6 {
	background-color: var(--ActiveText);
}

.theme-dark .body-3iLsc4 {
	background-color: var(--ActiveText);
}

.bodyInnerWrapper-Z8WDxe {
	background-color: var(--ActiveText);
}

.activityUserPopout-2yItg2 {
	background-color: var(--ActiveText);
}

.text-3MU_QQ {
	color: var(--PrimaryText);
}

.icon-22AiRD {
	color: var(--PrimaryText);
}

.body-3iLsc4 {
	background-color: var(--PrimaryBackground);
}

.addInputWrapper-1BOZ3d {
	background-color: var(--PrimaryBackground);
}

.friendsEmpty-1K9B4k {
	background-color: var(--PrimaryBackground);
}

.peopleListItem-2nzedh {
	background-color: var(--PrimaryBackground);
}

.peopleList-3c4jOR {
	background-color: var(--PrimaryBackground);
}

.colorHeaderSecondary-3Sp3Ft {
	color: var(--PrimaryText);
}

.closedFolderIconWrapper-2sTcE6 {
	background-color: var(--TertiaryBackground);
}

.lookFilled-1Gx00P.colorBrand-3pXr91 {
	background-color: var(--TertiaryBackground);
	color: var(--PrimaryText);
}

.h5-18_1nd {
	color: var(--SecondaryText);
}

.theme-dark {
    --header-primary: var(--SecondaryText);
    --text-normal: var(--PrimaryText);
    --background-primary: var(--PrimaryBackground);
    --background-secondary: var(--PrimaryBackground);
    --background-tertiary: var(--SecondaryBackground);
    --text-muted: var(--SecondaryAccent);
    --interactive-hover: var(--ActiveText);
    --channels-default: var(--PrimaryText);
    --text-link: var(--PrimaryAccent);
    --channeltextarea-background: var(--PrimaryBackground);
    --background-secondary-alt: var(--TertiaryBackground);
    --interactive-normal: var(--SecondaryText);
    --scrollbar-auto-track: var(--PrimaryBackground);
    --scrollbar-auto-thumb: var(--ActiveText);
    --background-floating: var(--PrimaryBackground);
    --background-modifier-selected: var(--PrimaryBackground);
    --background-modifier-hover: var(--PrimaryBackground);
}
