/**
 * @name         Spectra
 * @description  A dark theme letting the light shine through! Spectra is a visability focused theme that is still light on your eyes.
 * @author       Pix
 * @version      1.1
 * @website      http://pixelmelt.xyz
 * @source       https://github.com/PixelMelt/Spectra
 * @invite       2MucdZyQsb
 * @authorId     583750578094735360
 */

/* if you really need to change the colors try https://raw.githubusercontent.com/PixelMelt/Spectra/main/spectraV2.theme.css . Its not 100% finished */
/* but you should be able to change the colors */

@import url("https://pixelmelt.github.io/Spectra/spectrafull.css"); /* the theme */

@import url('https://mr-miner1.github.io/Better-Badges/src/badges.css'); /* animated badges */
@import url('https://pixelmelt.github.io/Spectra/src/oldpop.css'); /* old user popouts */
@import url('https://pixelmelt.github.io/Spectra/src/animcord.css'); /* extra animations */
@import url('https://pixelmelt.github.io/Spectra/src/roundite.css'); /* rounded gui */
@import url('https://discord-custom-covers.github.io/usrbg/dist/usrbg.css'); /* user backgrounds */
@import url("https://pixelmelt.github.io/Spectra/src/cosmetics.css"); /* user cosmetics */
@import url("https://raw.githack.com/NYRI4/Discolored/master/main.css"); /* colored discord SVGs */
@import url('https://p0rtl6.github.io/BD-AnimatedSpeakingRings/src/base.css'); /* The base speaking rings */
@import url('https://p0rtl6.github.io/BD-AnimatedSpeakingRings/src/voiceconnectedpanel.css'); /* The voice connected panel */
@import url('https://p0rtl6.github.io/BD-AnimatedSpeakingRings/src/bigusers.css'); /* The fullscreen user panels */

/* Hello Friends! Enjoy my theme! */
/* Feel free to message me if you have any issues */
/* Pix#7008 */

/* p0rtL#6592 was here :) */
