@use "../functions" as *;

.iconBase_c69b6d {
    color: v(bg-4) !important;
}

.modeMuted__2ea32 {
    .icon__2ea32,
    .name__2ea32 {
        color: v(gold-1);
    }
}

.modeSelected__2ea32,
.modeUnreadImportant__2ea32 {
    &,
    &:hover {
        .icon__2ea32 {
            color: v(bg-5);
        }
    }
}

.modeConnected__2ea32,
.modeSelected__2ea32,
.modeUnreadImportant__2ea32 {
    &,
    &:hover {
        .name__2ea32 {
            color: v(bg-5);
        }
    }
}

.notInteractive__2ea32.modeConnected__2ea32,
.notInteractive__2ea32.modeSelected__2ea32 {
    .name__2ea32 {
        color: v(bg-5);
    }
}

.unread__2ea32 {
    background-color: v(gold-5);
}

.numberBadge__2ea32 {
    color: v(bg-3);
    background-color: v(gold-2) !important;
}

.bar__3b95d {
    background: v(bg-3);
}

.unread__3b95d {
    background-color: v(bg-4);
    opacity: 0.9;
}

.mention__3b95d {
    background-color: v(gold-3);

    &:active {
        background-color: v(bg-4);
    }
}

.listDefault__07f91 .clickable__07f91.selected__07f91 .username__07f91,
.usernameSpeaking__07f91 {
    color: v(gold-vivid);
}

.voiceUser__07f91:has(.usernameSpeaking__07f91) .avatar__07f91 {
    box-shadow:
        inset 0 0 0 2px v(gold-5),
        inset 0 0 0 3px var(--background-secondary);
    border-radius: 50%;
}
