@use "../functions" as *;

.emojiItemDisabled__0800c {
    filter: grayscale(0%);
}
.sprite__04eed {
    filter: grayscale(0%) !important;
}
.categoryItem_b9ee0c {
    color: v(gold-3);
    margin-left: 8px;
}
