@use "../functions" as *;

$round: v(roundness);

.base__5e434 {
    background-color: v(bg-4);
}

.bar_c38106 {
    background-color: v(bg-3);
}

.guilds__5e434 {
    border: 2px solid v(bg-0);
    margin: 5px;
    margin-right: -1px;
    border-radius: $round;
    background-color: v(bg-0);
}

.sidebarList__5e434 {
    border-radius: $round;
    margin: 5px 0 5px 10px;
    background-color: v(bg-1);
    border: none;
}

.page__5e434 {
    width: auto;
    height: auto;
    border-radius: $round;
    margin: 5px 10px;
    overflow: hidden;
    border: none;
}

.panels__5e434 {
    border-radius: $round;
    background-color: v(bg-3);
}

.members_c8ffbb {
    border-radius: $round;
    margin: 5px;
}

.notice_c5cd6a {
    border-radius: $round;
    margin: 10px 10px 5px;
}

.scrollableContainer__74017,
.searchBarComponent_e6b769,
.listRow__1add6,
.contentWrapper__08434,
.categoryItemDefaultCategory_b9ee0c,
.children__9293f {
    border-radius: $round;
}

.attachButtonInner__0923f {
    margin-left: -4px;
}

.sansAttachButton__74017 {
    margin-left: 10px;
    padding: 4px;
}

.searchResultsWrap_a98f3b {
    border-radius: $round;
    margin: 5px 5px 5px 0;
}

.container__133bf {
    border-radius: $round;
    margin: 5px;
}

.scroller__7d20c {
    border-left: 0;
}

.layer__960e4.baseLayer__960e4 {
    background-color: v(bg-4);
}

.bg__960e4 {
    background-color: v(bg-3);
}

.searchBar_e6b769 .button_a22cb0 {
    background-color: var(--background-tertiary);
    color: var(--text-muted);
}

.membersWrap_c8ffbb,
.members_c8ffbb {
    background-color: var(--background-secondary);
}
