@use "../functions" as *;

$gap: v(gap);
$radius: v(radius);

.base__5e434 {
    background: v(bg-0);
}

.sidebarList__5e434 {
    margin: 0 0 $gap $gap;
    border-radius: $radius;
    overflow: hidden;
    background: v(bg-1);
    border: none;
}

.page__5e434 {
    width: auto;
    height: auto;
    margin: 0 $gap $gap;
    border-radius: $radius;
    overflow: hidden;
    background: v(bg-2);
    border: none;
}

.panels__5e434 {
    border-radius: $radius;
    background: v(bg-3);
    border: 1px solid alpha(v(bg-5), 50%);
}

.container_c8ffbb,
.membersWrap_c8ffbb,
.members_c8ffbb {
    background: v(bg-1);
}

.title_f75fb0 {
    background: v(bg-2);
    border-bottom: 1px solid alpha(v(bg-5), 50%);
}

.channelTextArea_f75fb0 {
    border-radius: $radius;
}
