@use "../functions" as *;

.noticeWrapper__35939 {
    background-color: v(bg-4);
}
.tipTitle_a2f514 {
    color: v(gold-5);
}
.tip_a2f514 {
    color: v(gold-5);
}
.container_a2f514 {
    background-color: v(bg-3);
}
.button_c5cd6a:hover {
    background-color: v(bg-4);
}
.notice_c5cd6a {
    background-color: v(bg-3);
}
.theme-dark .path__46696,
.theme-dark .path2__46696 {
    stroke: v(gold-5);
}
.title__1472a {
    color: v(gold-5);
}
.theme-dark .activeBreadcrumb__75013 {
    color: alpha(v(gold-5), 88%);
}
.flowerStarContainer__3e3b0 {
    display: none;
}
.theme-dark.authBox__921c5 {
    color: v(gold-5);
    background: v(bg-3);
}
.header_c6e099 {
    color: v(gold-5);
}
.selectorButtonSelected__0907c {
    background-color: v(khaki);
}
.theme-dark .root__49fc1 {
    background-color: v(bg-3);
}
.subtext_beaa93 {
    color: v(gold-3);
}
.item__58105 {
    background-color: v(gold-vivid);
}
.cardPrimary_b5dd01 {
    background-color: v(bg-3);
}
.h5_b717a1 {
    color: v(gold-5);
}

.backdrop_f8afe2 {
    background: v(bg-0) !important;
}

.footer__49fc1 {
    background-color: v(bg-3);
}

.notice_c5cd6a {
    color: v(gold-4);
}

.theme-dark .breadcrumbWrapper__75013 {
    color: alpha(v(gold-5), 53%);
}

.required_b717a1,
.required__5a838 {
    color: v(gold-5);
}

.root__49fc1 {
    border-radius: v(roundness);
}
