@use "../functions" as *;

.controlIcon_f1ceac.active_f1ceac,
.controlIcon_f1ceac:hover {
    color: v(bg-4);
}
.colorable_f1ceac.primaryDark_f1ceac.active_f1ceac,
.colorable_f1ceac.primaryDark_f1ceac:hover {
    background: v(bg-4);
}
.colorable_f1ceac.white_f1ceac.active_f1ceac,
.colorable_f1ceac.white_f1ceac:hover {
    background: v(bg-4);
}
.colorable_f1ceac.red_f1ceac.active_f1ceac,
.colorable_f1ceac.red_f1ceac:hover {
    background: v(bg-4);
}
.colorable_f1ceac.primaryDark_f1ceac,
.colorable_f1ceac.primaryDark_f1ceac .centerIcon_f1ceac {
    color: v(gold-5);
}
.colorable_f1ceac.primaryDark_f1ceac {
    background: v(bg-5);
}
.colorable_f1ceac.white_f1ceac {
    background: v(bg-5);
}
.colorable_f1ceac.white_f1ceac,
.colorable_f1ceac.white_f1ceac .centerIcon_f1ceac {
    color: v(gold-5);
}
.colorable_f1ceac.red_f1ceac {
    background: v(bg-5);
}
.colorable_f1ceac.red_f1ceac,
.colorable_f1ceac.red_f1ceac .centerIcon_f1ceac {
    color: v(gold-5);
}
.controlIcon_f1ceac {
    color: v(gold-4);
}
.iconLive__46869 {
    color: v(gold-5);
}
.container__37e49 .redIcon__37e49 {
    color: v(gold-3);
}
.theme-dark .outer_bf1984.active_bf1984,
.theme-dark .outer_bf1984.interactive_bf1984:hover {
    background-color: v(bg-2);
}
.theme-dark .inset_bf1984 {
    background-color: v(bg-4);
}
.outer_bf1984 {
    background-color: v(bg-3);
}
.wrapper_cb9592.minimum_cb9592 {
    background-color: v(bg-3);
}
.tile__90dc5 {
    background-color: v(bg-3);
}
.button_e131a9.buttonColor_e131a9.buttonActive_e131a9:hover,
.button_e131a9 .buttonColor_e131a9.buttonActive_e131a9:hover {
    background-color: v(gold-4);
}
.button_e131a9.buttonColor_e131a9.buttonActive_e131a9,
.button_e131a9 .buttonColor_e131a9.buttonActive_e131a9 {
    background-color: v(bg-3);
    color: v(gold-4);
}
.live_a7acae {
    color: v(gold-5);
}
.headerName__553a5 {
    color: v(gold-5);
}
