@use "../functions" as *;

.activeBreadcrumb__75013 {
    color: alpha(v(gold-5), 88%);
}

.breadcrumbWrapper__75013 {
    color: alpha(v(gold-5), 53%);
}

.h5_b717a1,
.required_b717a1,
.required__5a838 {
    color: v(gold-5);
}
