@use "sass:list";
@use "sass:string";

$tags: (
    // Pix#7008
    "583750578094735360": "Get Linux",
    // Macro#9389
    "419352542804312066": "Im in pain",
    "258731845267619840": "Spectra Contributor",
    "265924886461939712": "Spectra Contributor",
    // Achi™#9761
    "374700424462073857": "Spectra Beta",
    // Skittles#8027
    "128707790016348160": "Spectra Beta",
    // SatoruX#4065
    "556271703139811350": "Spectra Beta",
    // Maxy_Zou#8281
    "751817881112543363": "Spectra Beta"
);

@mixin typing-keyframes($name, $text) {
    $len: string.length($text);
    @keyframes #{$name} {
        0% {
            content: "</>";
            font-family: "Courier New";
        }
        @for $i from 1 through $len {
            #{calc(100% * $i / $len)} {
                content: "<#{string.slice($text, 1, $i)}>";
            }
        }
    }
}

$texts: ();
@each $id, $text in $tags {
    @if not list.index($texts, $text) {
        $texts: list.append($texts, $text);
        @include typing-keyframes("spectra-tag-#{list.length($texts)}", $text);
    }
}

@each $id, $text in $tags {
    $anim: "spectra-tag-#{list.index($texts, $text)}";

    .avatar_c19a55[src*="#{$id}"] ~ .header_c19a55 .username_c19a55 {
        &::after {
            line-height: 1rem !important;
            content: "</>";
            background-color: transparent;
            color: white;
        }

        &:hover::after {
            line-height: 1rem !important;
            content: "<#{$text}>";
            background-color: transparent;
            color: white;
            animation: #{$anim} 0.5s linear 1;
            transition: content 1s ease;
            font-family: "Courier New", "monospace";
        }
    }
}
