.membersWrap-3NUR2t {
  min-width: unset;
}

.content-1Tgc42:hover {
    transition: all 0.5s;
    -webkit-transform: translateX(-5px);
            transform: translateX(-5px);
}

.content-1Tgc42 {
    transition: all 0.3s;
    -webkit-transform: translateX(0);
            transform: translateX(0);
}

.clickable-ZD7xvu:hover {
    animation-name: swing;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}

.layout-1qmrhw {
    transition: all 0.3s;
    -webkit-transform: translateX(0);
            transform: translateX(0);
}

.layout-1qmrhw:hover {
    transition: all 0.5s;
    -webkit-transform: translateX(-5px);
            transform: translateX(-5px);
}

.mainContent-20q_Hp {
    transition: all 0.3s;
    -webkit-transform: translateX(0);
            transform: translateX(0);
}

.mainContent-20q_Hp:hover {
    transition: all 0.5s;
    -webkit-transform: translateX(-5px);
            transform: translateX(-5px);
}


[aria-label="Mute"] .contents-3ca1mk:hover {
    animation-name: shakeX;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}

[aria-label="User Settings"] .contents-3ca1mk:hover {
    animation-name: rotate;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}

[aria-label="Deafen"] .contents-3ca1mk:hover {
    animation-name: swing;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}

@keyframes slide-left {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(-5px);
            transform: translateX(-5px);
  }
}

@keyframes swing {
    20% {
        -webkit-transform: rotate(15deg);
        transform: rotate(15deg)
    }
    40% {
        -webkit-transform: rotate(-10deg);
        transform: rotate(-10deg)
    }
    60% {
        -webkit-transform: rotate(5deg);
        transform: rotate(5deg)
    }
    80% {
        -webkit-transform: rotate(-5deg);
        transform: rotate(-5deg)
    }
    to {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg)
    }
}

@keyframes shakeX {
    0%,
    to {
        -webkit-transform: translateZ(0);
        transform: translateZ(0)
    }
    10%,
    30%,
    50%,
    70%,
    90% {
        -webkit-transform: translate3d(-1px, 0, 0);
        transform: translate3d(-1px, 0, 0)
    }
    20%,
    40%,
    60%,
    80% {
        -webkit-transform: translate3d(1px, 0, 0);
        transform: translate3d(1px, 0, 0)
    }
}

@keyframes rotate {
    from { -webkit-transform: rotate(0deg); }
    to { -webkit-transform: rotate(180deg);}
}

@keyframes floating {
    0% { transform: translate(0,  0px); }
    50%  { transform: translate(0, 2px); }
    100%   { transform: translate(0, 0px); }   
}
