@import url('https://pixelmelt.github.io/Spectra/src/cosmetics.css');

.customStatusSoloEmoji-1tDhmL {
    padding-left: 35%;
}

.activity-2INFPu {
    padding-top: 10px;
}

.aboutMeTitle-1IYtPE {
    padding-top: 10px;
}

.bodyTitle-1ySSKn {
    padding-top: 10px;
}

.banner-2QYc2d:hover .bannerOverlay-1uIerX, .banner-2QYc2d:hover .pencilIcon-XSi-VE {
    opacity: 0;
}

.setIdentityLink-1t8Ahd {
    display: none;
}

.body-3HBlXn {
    overflow: visible!important;
}

.customStatus-oN4ZZY {
    padding-top: 10px;
    text-align: center;
    background-color: #303136;
}

.divider-ewBQKj {
    display: none;
}

.bodyInnerWrapper-26fQXj {
    background-color: #20222500;
}

.relationshipButtons-pUQVkf {
    top: -50px;
    right: 20px;
    position: absolute;
}

.profileBannerPremium-35utuo {
    height: 80px;
    background-color: #00000000!important;
}

.profileBanner-33-uE1 {
    background-color: #00000000!important;
    height: 80px;
}

.avatar-AvHqJA {
    border: 0px solid #00000000;
    background-color: #00000000;
}

.applicationName-1-Uq7y.clickable-1bVtEA:hover, .commandName-1klrjB.clickable-1bVtEA:hover, .username-1A8OIy.clickable-1bVtEA:hover {
    text-decoration: none;
}

.avatarPositionPremium-3We5Ho {
    top: 20px;
}

.betaBadge-1Ve-yb {
    display: none;
}

.profileBannerPremium-35utuo {
    background-image: none!important;
    background-color:  #202225;
}

.popoutBannerPremium-1n96gg {
    background-image: none!important;
    background-color:  #202225!important;
}

.aboutMeSection---MkQa {
    background-color: #00000000;
}

.aboutMeTitle-2i3lnH {
    display: block;
}

.topSection-y3p-_D {
    background-color:  #303136;
}

.setIdentityLink-3lcnXW {
    display: none
}

.nickname-2gQ76l {
    font-size: 16px;
}

.profileBadges-ohc0Vu {
    display: none;
}

/*.userPopout-xaxa6l[style*="--user-background"] .headerTop-3vNv-a {
    background-color: #00000000;
}*/

/*set colors to grey*/
.popoutBanner-19WKGg {
    background-color: #202225!important
    
}
.headerTop-3vNv-a {
    background-color: #202225!important
}
.headerNormal-3KXFBt {
    background-color: #202225;
}
.footer-3UKYOU {
    background-color: #303136;
}
.body-3HBlXn {
    background-color: #303136;
}

/*.userPopout-xaxa6l {
    background-color: #202225;
}
*/
.BDFDB_undefined-ZkCGbz, .nickname-322DbL.size20-2QkeeC, .headerTagNoNickname-3ak9o8.headerTag-nSOkYt.size14-3iUx6q.size20-2QkeeC {
    display: block;
}

.userPopout-xaxa6l[style*="--user-background"] .avatarPositionNormal-1CZUPk {
    top: 76px;
}

.avatarWrapperNormal-26WQIb {
  left: 34%;
}

.headerTop-3vNv-a > .profileBadges-1dm1_q {
  display: none;
}

.userPopout-xaxa6l {
    width: 250px!important
}

.headerTop-3vNv-a {
    text-align: center;
    padding: 0px 16px 24px;
    border-bottom: 0px
}

.popoutBanner-19WKGg {
    height: 113px;
    width: 250px;
}

.size20-17Iy80 {
    font-size: 17px;
}


.userPopout-xaxa6l[style*="--user-background"] .avatarPositionNormal-1CZUPk {
    top: 23px;
}

.avatar-37jOim {
    border: 0px solid;
    background-color: #00000000;
}

/*.userPopout-xaxa6l[style*="--user-background"] .popoutBanner-19WKGg {
    background: var(--user-background) center / cover!important;
}*/

/*.root-3QyAh1[style*="--user-background"] .topSection-y3p-_D {
    background: var(--user-background) center / cover;
}
*/
/*.userPopout-xaxa6l[style*="--user-background"] .popoutBanner-19WKGg {
    background-color:  #0000!important
}

.userPopout-xaxa6l[style*="--user-background"] .headerTop-3vNv-a {
    background-color:  #0000!important
}*/


.userPopout-xaxa6l[style*="--user-background"] .activityUserPopout-2yItg2 {
    background-color:  #303136
}

.avatarHint-2A3RNb {
    top: 0px;
    left: 0px;
}

.root-SR8cQa[style*="--user-background"] .topSectionNormal-2-vo2m {
    background: var(--user-background) center / cover;
}

.tabBarContainer-1s1u-z {
    border-top: 0px
}
