.container-36u7Lw {
    border-radius: var(--roundness)!important;
    margin: 5px;
}

.notice-2HEN-u {
    border-radius: var(--roundness)!important;
    margin: 10px;
}

.noticeWrapper-8z511t {
    background-color: var(--background-primary);
}

.notice-12Koq- {
    border-radius: var(--roundness);
    margin: 10px;
    margin-bottom: 5px;
}

.sidebar-1tnWFu {
    border-radius: var(--roundness)!important;
}

.container-1a3EgQ {
    border-radius: var(--roundness);
    margin: 5px;
}

.attachButtonInner-2mwer8 {
    margin-left: -4px;
}

.panels-3wFtMD {
    border-radius: var(--roundness);
    margin: 5px;
}

.members-3WRCEx {
    border-radius: var(--roundness);
    margin: 5px;
}

.scrollableContainer-15eg7h {
    border-radius: var(--roundness);
}

.sidebar-1tnWFu {
    border-radius: var(--roundness);
    margin: 10px;
    margin-right: 0px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.chat-2ZfjoI {
    border-radius: var(--roundness);
    margin: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 10px;
}

.guilds-2JjMmN {
    border: 2px solid var(--background-tertiary);
    margin: 5px;
    margin-right: -1px;
    border-radius: var(--roundness);
}

.searchBarComponent-3N7dCG {
    border-radius: var(--roundness);
}

.sansAttachButton-1ERHue {
    margin-left: 10px;
    padding: 4px;
}

.searchResultsWrap-5RVOkx {
    border-radius: var(--roundness);
    margin: 5px;
    margin-left: 0px;
}

.root-SR8cQa {
    border-radius: var(--roundness);
}

.listRow-hutiT_ {
    border-radius: var(--roundness);
}

.connectedAccount-36nQx7 {
    border-radius: var(--roundness);
}

.contentWrapper-3vHNP2 {
    border-radius: var(--roundness);
}

.categoryItemDefaultCategory-3haEDq {
    border-radius: var(--roundness);
}

/* behind elements
.layer-86YKbF.baseLayer-W6S8cY {
    background-color: var(--background-tersiary);
}
*/

.container-2cd8Mz {
    border-radius: var(--roundness);
    margin: 5px;
}

.applicationStore-2nk7Lo {
    border-radius: var(--roundness);
    margin: 5px;
}

.sidebarRegionScroller-FXiQOh {
    border-radius: var(--roundness);
    margin: 5px;
}

.contentRegionScroller-2_GT_N {
    border-radius: var(--roundness);
    margin: 5px;
    height: 98%;
}

.children-1xdcWE {
    border-radius: var(--roundness);
}

.scroller-hE2gWq {
    border-left: 0px;
}
