.container-3Mxszk {
    border-radius: var(--roundness)!important;
    margin: 5px;
}

.notice-3bPHh- {
    border-radius: var(--roundness)!important;
    margin: 10px;
}

.noticeWrapper-8z511t {
    background-color: var(--background-primary);
}

.notice-2X5hT5 {
    border-radius: var(--roundness);
    margin: 10px;
    margin-bottom: 5px;
}

.sidebar-2K8pFh {
    border-radius: var(--roundness)!important;
}

.container-1a3EgQ {
    border-radius: var(--roundness);
    margin: 5px;
}

.attachButtonInner-PQjIyk {
    margin-left: -4px;
}

.panels-j1Uci_ {
    border-radius: var(--roundness);
    margin: 5px;
}

.members-1998pB {
    border-radius: var(--roundness);
    margin: 5px;
}

.scrollableContainer-2NUZem {
    border-radius: var(--roundness);
}

.sidebar-2K8pFh {
    border-radius: var(--roundness);
    margin: 10px;
    margin-right: 0px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.chat-3bRxxu {
    border-radius: var(--roundness);
    margin: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 10px;
}

.guilds-1SWlCJ {
    border: 2px solid var(--background-tertiary);
    margin: 5px;
    margin-right: -1px;
    border-radius: var(--roundness);
}

.searchBarComponent-32dTOx {
    border-radius: var(--roundness);
}

.sansAttachButton-td2irx {
    margin-left: 10px;
    padding: 4px;
}

.searchResultsWrap-3-pOjs {
    border-radius: var(--roundness);
    margin: 5px;
    margin-left: 0px;
}

.root-SR8cQa {
    border-radius: var(--roundness);
}

.listRow-hutiT_ {
    border-radius: var(--roundness);
}

.connectedAccount-36nQx7 {
    border-radius: var(--roundness);
}

.contentWrapper-SvZHNd {
    border-radius: var(--roundness);
}

.categoryItemDefaultCategory-aBZ6nJ {
    border-radius: var(--roundness);
}

/* behind elements
.layer-3QrUeG.baseLayer-35bLyl {
    background-color: var(--background-tersiary);
}
*/

.container-1D34oG {
    border-radius: var(--roundness);
    margin: 5px;
}

.applicationStore-1pNvnv {
    border-radius: var(--roundness);
    margin: 5px;
}

.sidebarRegionScroller-3MXcoP {
    border-radius: var(--roundness);
    margin: 5px;
}

.contentRegionScroller-26nc1e {
    border-radius: var(--roundness);
    margin: 5px;
    height: 98%;
}

.children-rWhLdy {
    border-radius: var(--roundness);
}

.scroller-2ZPeAD {
    border-left: 0px;
}
